<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.efficiency.EcdCollectDao">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.efficiency.EcdCollect">
        <id column="ecdt_id" jdbcType="INTEGER" property="ecdtId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="type_id" jdbcType="INTEGER" property="typeId"/>
        <result column="txt_url" jdbcType="VARCHAR" property="txtUrl"/>
        <result column="effect_time" jdbcType="BIGINT" property="effectTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        ecdt_id
        , ec_company_id, type_id, txt_url, effect_time
    </sql>

    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.efficiency.EcdCollect" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecd_collect
        <where>
            <if test="ecCompanyId!=null">
                and ec_company_id=#{ecCompanyId}
            </if>
        </where>
        order by type_id asc
    </select>

    <!--getCount-->
    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.efficiency.EcdCollect" resultType="java.lang.Long">
        select count(*) from ecd_collect
        <where>
            <if test="ecCompanyId!=null">
                and ec_company_id=#{ecCompanyId}
            </if>
        </where>
    </select>

    <!--insert-->
    <insert id="insert" parameterType="org.jeecg.modules.cable.entity.efficiency.EcdCollect">
        insert into ecd_collect (ecdt_id, ec_company_id, type_id, txt_url, effect_time)
        values (#{ecdtId,jdbcType=INTEGER}, #{ecCompanyId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER},
                #{txtUrl,jdbcType=VARCHAR}, #{effectTime,jdbcType=BIGINT})
    </insert>

    <update id="update" parameterType="org.jeecg.modules.cable.entity.efficiency.EcdCollect">
        update ecd_collect
        <set>
            <if test="txtUrl != null">
                txt_url = #{txtUrl,jdbcType=VARCHAR},
            </if>
            <if test="effectTime != null">
                effect_time = #{effectTime,jdbcType=BIGINT}
            </if>
        </set>
        <where>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="typeId != null">
                and type_id = #{typeId,jdbcType=INTEGER}
            </if>
        </where>
    </update>

    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.efficiency.EcdCollect" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecd_collect
        <where>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="typeId != null">
                and type_id = #{typeId,jdbcType=INTEGER}
            </if>
        </where>
        limit 1
    </select>


</mapper>


