<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userOffer.EcuOfferMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userOffer.EcuOffer">
        <id column="ecuo_id" jdbcType="INTEGER" property="ecuoId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="ecqul_id" jdbcType="INTEGER" property="ecqulId"/>
        <result column="ecbuc_id" jdbcType="INTEGER" property="ecbucId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="add_percent" jdbcType="DECIMAL" property="addPercent"/>
        <result column="fire_silk_number" jdbcType="DECIMAL" property="fireSilkNumber"/>
        <result column="fire_root_number" jdbcType="DECIMAL" property="fireRootNumber"/>
        <result column="fire_membrance" jdbcType="INTEGER" property="fireMembrance"/>
        <result column="fire_press" jdbcType="DECIMAL" property="firePress"/>
        <result column="fire_strand" jdbcType="DECIMAL" property="fireStrand"/>
        <result column="zero_silk_number" jdbcType="DECIMAL" property="zeroSilkNumber"/>
        <result column="zero_root_number" jdbcType="DECIMAL" property="zeroRootNumber"/>
        <result column="zero_membrance" jdbcType="INTEGER" property="zeroMembrance"/>
        <result column="zero_press" jdbcType="DECIMAL" property="zeroPress"/>
        <result column="zero_strand" jdbcType="DECIMAL" property="zeroStrand"/>
        <result column="ecbui_id" jdbcType="INTEGER" property="ecbuiId"/>
        <result column="insulation_fire_thickness" jdbcType="DECIMAL" property="insulationFireThickness"/>
        <result column="insulation_zero_thickness" jdbcType="DECIMAL" property="insulationZeroThickness"/>
        <result column="ecbub_id" jdbcType="INTEGER" property="ecbubId"/>
        <result column="bag_thickness" jdbcType="DECIMAL" property="bagThickness"/>
        <result column="ecbub_22_id" jdbcType="INTEGER" property="ecbub22Id"/>
        <result column="bag_22_thickness" jdbcType="DECIMAL" property="bag22Thickness"/>
        <result column="ecbu_shield_id" jdbcType="INTEGER" property="ecbuShieldId"/>
        <result column="shield_thickness" jdbcType="DECIMAL" property="shieldThickness"/>
        <result column="shield_percent" jdbcType="DECIMAL" property="shieldPercent"/>
        <result column="ecbusb_id" jdbcType="INTEGER" property="ecbusbId"/>
        <result column="steelband_thickness" jdbcType="DECIMAL" property="steelbandThickness"/>
        <result column="steelband_storey" jdbcType="INTEGER" property="steelbandStorey"/>
        <result column="ecbu_sheath_id" jdbcType="INTEGER" property="ecbuSheathId"/>
        <result column="sheath_thickness" jdbcType="DECIMAL" property="sheathThickness"/>
        <result column="sheath22_thickness" jdbcType="DECIMAL" property="sheath22Thickness"/>
        <result column="ecbum_id" jdbcType="INTEGER" property="ecbumId"/>
        <result column="micatape_thickness" jdbcType="DECIMAL" property="micatapeThickness"/>
        <result column="ecbuin_id" jdbcType="INTEGER" property="ecbuinId"/>
        <result column="ecbusw_id" jdbcType="INTEGER" property="ecbuswId"/>
        <result column="steelwire_membrance" jdbcType="DECIMAL" property="steelwireMembrance"/>
        <result column="steelwire_press" jdbcType="DECIMAL" property="steelwirePress"/>
        <result column="cable_strand" jdbcType="DECIMAL" property="cableStrand"/>
        <result column="default_weight" jdbcType="DECIMAL" property="defaultWeight"/>
        <result column="default_money" jdbcType="DECIMAL" property="defaultMoney"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.userOffer.EcuOffer">
        <id column="ecuo_id" jdbcType="INTEGER" property="ecuoId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="ecqul_id" jdbcType="INTEGER" property="ecqulId"/>
        <result column="ecbuc_id" jdbcType="INTEGER" property="ecbucId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="add_percent" jdbcType="DECIMAL" property="addPercent"/>
        <result column="fire_silk_number" jdbcType="DECIMAL" property="fireSilkNumber"/>
        <result column="fire_root_number" jdbcType="DECIMAL" property="fireRootNumber"/>
        <result column="fire_membrance" jdbcType="INTEGER" property="fireMembrance"/>
        <result column="fire_press" jdbcType="DECIMAL" property="firePress"/>
        <result column="fire_strand" jdbcType="DECIMAL" property="fireStrand"/>
        <result column="zero_silk_number" jdbcType="DECIMAL" property="zeroSilkNumber"/>
        <result column="zero_root_number" jdbcType="DECIMAL" property="zeroRootNumber"/>
        <result column="zero_membrance" jdbcType="INTEGER" property="zeroMembrance"/>
        <result column="zero_press" jdbcType="DECIMAL" property="zeroPress"/>
        <result column="zero_strand" jdbcType="DECIMAL" property="zeroStrand"/>
        <result column="ecbui_id" jdbcType="INTEGER" property="ecbuiId"/>
        <result column="insulation_fire_thickness" jdbcType="DECIMAL" property="insulationFireThickness"/>
        <result column="insulation_zero_thickness" jdbcType="DECIMAL" property="insulationZeroThickness"/>
        <result column="ecbub_id" jdbcType="INTEGER" property="ecbubId"/>
        <result column="bag_thickness" jdbcType="DECIMAL" property="bagThickness"/>
        <result column="ecbub_22_id" jdbcType="INTEGER" property="ecbub22Id"/>
        <result column="bag_22_thickness" jdbcType="DECIMAL" property="bag22Thickness"/>
        <result column="ecbu_shield_id" jdbcType="INTEGER" property="ecbuShieldId"/>
        <result column="shield_thickness" jdbcType="DECIMAL" property="shieldThickness"/>
        <result column="shield_percent" jdbcType="DECIMAL" property="shieldPercent"/>
        <result column="ecbusb_id" jdbcType="INTEGER" property="ecbusbId"/>
        <result column="steelband_thickness" jdbcType="DECIMAL" property="steelbandThickness"/>
        <result column="steelband_storey" jdbcType="INTEGER" property="steelbandStorey"/>
        <result column="ecbu_sheath_id" jdbcType="INTEGER" property="ecbuSheathId"/>
        <result column="sheath_thickness" jdbcType="DECIMAL" property="sheathThickness"/>
        <result column="sheath22_thickness" jdbcType="DECIMAL" property="sheath22Thickness"/>
        <result column="ecbum_id" jdbcType="INTEGER" property="ecbumId"/>
        <result column="micatape_thickness" jdbcType="DECIMAL" property="micatapeThickness"/>
        <result column="ecbuin_id" jdbcType="INTEGER" property="ecbuinId"/>
        <result column="ecbusw_id" jdbcType="INTEGER" property="ecbuswId"/>
        <result column="steelwire_membrance" jdbcType="DECIMAL" property="steelwireMembrance"/>
        <result column="steelwire_press" jdbcType="DECIMAL" property="steelwirePress"/>
        <result column="cable_strand" jdbcType="DECIMAL" property="cableStrand"/>
        <result column="default_weight" jdbcType="DECIMAL" property="defaultWeight"/>
        <result column="default_money" jdbcType="DECIMAL" property="defaultMoney"/>
        <!-- 导体 -->
        <association property="ecbuConductor" javaType="org.jeecg.modules.cable.entity.userEcable.EcbuConductor">
            <result column="c_name" property="name"/>
        </association>
        <association property="ecbConductor" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbConductor">
            <result column="c_abbreviation" property="abbreviation"/>
        </association>
        <!-- 质量等级 -->
        <association property="ecquLevel" javaType="org.jeecg.modules.cable.entity.userQuality.EcquLevel">
            <result column="l_abbreviation" property="abbreviation"/>
        </association>
        <!-- 云母带 -->
        <association property="ecbuMicatape" javaType="org.jeecg.modules.cable.entity.userEcable.EcbuMicaTape">
            <result column="m_name" property="name"/>
        </association>
        <association property="ecbMicatape" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbMicaTape">
            <result column="m_abbreviation" property="abbreviation"/>
        </association>
        <!-- 绝缘类型 -->
        <association property="ecbuInsulation" javaType="org.jeecg.modules.cable.entity.userEcable.EcbuInsulation">
            <result column="i_name" property="name"/>
        </association>
        <association property="ecbInsulation" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbInsulation">
            <result column="i_abbreviation" property="abbreviation"/>
        </association>
        <!-- 包带类型 -->
        <association property="ecbuBag" javaType="org.jeecg.modules.cable.entity.userEcable.EcbuBag">
            <result column="b_name" property="name"/>
        </association>
        <association property="ecbBag" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbBag">
            <result column="b_abbreviation" property="abbreviation"/>
        </association>
        <!-- 凯装包带类型 -->
        <association property="ecbu22Bag" javaType="org.jeecg.modules.cable.entity.userEcable.EcbuBag">
            <result column="b22_name" property="name"/>
        </association>
        <association property="ecb22Bag" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbBag">
            <result column="b22_abbreviation" property="abbreviation"/>
        </association>
        <!-- 屏蔽类型 -->
        <association property="ecbuShield" javaType="org.jeecg.modules.cable.entity.userEcable.EcbuShield">
            <result column="s_name" property="name"/>
        </association>
        <association property="ecbShield" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbShield">
            <result column="s_abbreviation" property="abbreviation"/>
        </association>
        <!-- 钢带 -->
        <association property="ecbuSteelband" javaType="org.jeecg.modules.cable.entity.userEcable.EcbuSteelband">
            <result column="steel_name" property="name"/>
        </association>
        <association property="ecbSteelband" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbSteelBand">
            <result column="steel_abbreviation" property="abbreviation"/>
        </association>
        <!-- 护套 -->
        <association property="ecbuSheath" javaType="org.jeecg.modules.cable.entity.userEcable.EcbuSheath">
            <result column="sheath_name" property="name"/>
        </association>
        <association property="ecbSheath" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbSheath">
            <result column="sheath_abbreviation" property="abbreviation"/>
        </association>
        <!-- 填充物 -->
        <association property="ecbuInfilling" javaType="org.jeecg.modules.cable.entity.userEcable.EcbuInfilling">
            <result column="in_name" property="name"/>
        </association>
        <association property="ecbInfilling" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbInfilling">
            <result column="in_abbreviation" property="abbreviation"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        ecuo_id
        , ec_company_id, ecqul_id, ecbuc_id, start_type, sort_id, area_str, add_percent,
        fire_silk_number, fire_root_number, fire_membrance, fire_press, fire_strand, zero_silk_number, zero_root_number,
        zero_membrance,
        zero_press, zero_strand, ecbui_id, insulation_fire_thickness, insulation_zero_thickness,
        ecbub_id, bag_thickness, ecbub_22_id, bag_22_thickness,
        ecbusb_id, steelband_thickness,
        ecbu_shield_id, shield_thickness, shield_percent, ecbusb_id, steelband_thickness,
        steelband_storey, ecbu_sheath_id, sheath_thickness, sheath22_thickness, ecbum_id, micatape_thickness,
        ecbuin_id, ecbusw_id, steelwire_membrance, steelwire_press,
        cable_strand, default_weight, default_money
    </sql>

    <!-- With_List -->
    <sql id="With_List">
        ecuo
        .
        ecuo_id
        , ecuo.ec_company_id, ecuo.ecqul_id, ecuo.ecbuc_id, ecuo.start_type, ecuo.sort_id, ecuo.area_str,
        ecuo.add_percent, ecuo.fire_silk_number, ecuo.fire_root_number, ecuo.fire_membrance, ecuo.fire_press,
        ecuo.fire_strand, ecuo.zero_silk_number, ecuo.zero_root_number, ecuo.zero_membrance, ecuo.zero_press,
        ecuo.zero_strand, ecuo.ecbui_id,
        ecuo.insulation_fire_thickness, ecuo.insulation_zero_thickness,
        ecuo.ecbub_id,ecuo.bag_thickness,
        ecuo.ecbub_22_id, ecuo.bag_22_thickness,
        ecbusb_id, steelband_thickness,
        ecuo.ecbu_shield_id, ecuo.shield_thickness, ecuo.shield_percent, ecuo.ecbusb_id,
        ecuo.steelband_thickness,
        ecuo.steelband_storey, ecuo.ecbu_sheath_id, ecuo.sheath_thickness, ecuo.sheath22_thickness,
        ecuo.ecbum_id, ecuo.micatape_thickness, ecuo.ecbuin_id,
        ecuo.ecbusw_id, ecuo.steelwire_membrance, ecuo.steelwire_press,
        ecbuc.name as c_name, ecbc.abbreviation as c_abbreviation,
        ecbum.name as m_name, ecbm.abbreviation as m_abbreviation,
        ecbui.name as i_name, ecbi.abbreviation as i_abbreviation,
        ecbub.name as b_name, ecbb.abbreviation as b_abbreviation,
        ecbub22.name as b22_name, ecbb22.abbreviation as b22_abbreviation,
        ecbus.name as s_name, ecbs.abbreviation as s_abbreviation,
        ecbusb.name as steel_name, ecbsb.abbreviation as steel_abbreviation,
        ecbush.name as sheath_name, ecbsh.abbreviation as sheath_abbreviation,
        ecbuin.name as in_name, ecbin.abbreviation as in_abbreviation,
        cable_strand, default_weight, default_money

    </sql>
    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userOffer.EcuOffer" resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecu_offer as ecuo
        left join ecbu_conductor as ecbuc on ecuo.ecbuc_id=ecbuc.ecbuc_id
        left join ecb_conductor as ecbc on ecbuc.ecbc_id=ecbc.ecbc_id
        left join ecqu_level as ecqul on ecuo.ecqul_id=ecqul.ecqul_id
        left join ecbu_mica_tape as ecbum on ecuo.ecbum_id=ecbum.ecbum_id
        left join ecb_mica_tape as ecbm on ecbm.ecbm_id=ecbum.ecbm_id
        left join ecbu_insulation as ecbui on ecuo.ecbui_id=ecbui.ecbui_id
        left join ecb_insulation as ecbi on ecbui.ecbi_id=ecbi.ecbi_id
        left join ecbu_bag as ecbub on ecuo.ecbub_id=ecbub.ecbub_id
        left join ecb_bag as ecbb on ecbub.ecbb_id=ecbb.ecbb_id
        left join ecbu_bag as ecbub22 on ecuo.ecbub_22_id=ecbub22.ecbub_id
        left join ecb_bag as ecbb22 on ecbub22.ecbb_id=ecbb22.ecbb_id
        left join ecbu_shield as ecbus on ecuo.ecbu_shield_id=ecbus.ecbus_id
        left join ecb_shield as ecbs on ecbus.ecbs_id=ecbs.ecbs_id
        left join ecbu_steelband as ecbusb on ecuo.ecbusb_id=ecbusb.ecbus_id
        left join ecb_steelband as ecbsb on ecbusb.ecbsb_id=ecbsb.ecbsb_id
        left join ecbu_sheath as ecbush on ecuo.ecbu_sheath_id=ecbush.ecbus_id
        left join ecb_sheath as ecbsh on ecbush.ecbs_id=ecbsh.ecbs_id
        left join ecbu_infilling as ecbuin on ecuo.ecbuin_id=ecbuin.ecbui_id
        left join ecb_infilling as ecbin on ecbuin.ecbin_id=ecbin.ecbin_id
        <where>
            <if test="startType!=null">
                and ecuo.start_type=#{startType}
            </if>
            <if test="ecqulId!=null">
                and ecuo.ecqul_id=#{ecqulId}
            </if>
            <if test="sortId != null">
                and <![CDATA[ecuo.sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
        order by ecuo.sort_id asc
    </select>

    <!--getCount-->
    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.userOffer.EcuOffer" resultType="java.lang.Long">
        select count(*) from ecu_offer
        <where>
            <if test="startType!=null">
                and start_type=#{startType}
            </if>
            <if test="ecqulId!=null">
                and ecqul_id=#{ecqulId}
            </if>
        </where>
    </select>

    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userOffer.EcuOffer" resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecu_offer as ecuo
        left join ecbu_conductor as ecbuc on ecuo.ecbuc_id=ecbuc.ecbuc_id
        left join ecb_conductor as ecbc on ecbuc.ecbc_id=ecbc.ecbc_id
        left join ecqu_level as ecqul on ecuo.ecqul_id=ecqul.ecqul_id
        left join ecbu_mica_tape as ecbum on ecuo.ecbum_id=ecbum.ecbum_id
        left join ecb_mica_tape as ecbm on ecbm.ecbm_id=ecbum.ecbm_id
        left join ecbu_insulation as ecbui on ecuo.ecbui_id=ecbui.ecbui_id
        left join ecb_insulation as ecbi on ecbui.ecbi_id=ecbi.ecbi_id
        left join ecbu_bag as ecbub on ecuo.ecbub_id=ecbub.ecbub_id
        left join ecb_bag as ecbb on ecbub.ecbb_id=ecbb.ecbb_id
        left join ecbu_bag as ecbub22 on ecuo.ecbub_22_id=ecbub22.ecbub_id
        left join ecb_bag as ecbb22 on ecbub22.ecbb_id=ecbb22.ecbb_id
        left join ecbu_shield as ecbus on ecuo.ecbu_shield_id=ecbus.ecbus_id
        left join ecb_shield as ecbs on ecbus.ecbs_id=ecbs.ecbs_id
        left join ecbu_steelband as ecbusb on ecuo.ecbusb_id=ecbusb.ecbus_id
        left join ecb_steelband as ecbsb on ecbusb.ecbsb_id=ecbsb.ecbsb_id
        left join ecbu_sheath as ecbush on ecuo.ecbu_sheath_id=ecbush.ecbus_id
        left join ecb_sheath as ecbsh on ecbush.ecbs_id=ecbsh.ecbs_id
        left join ecbu_infilling as ecbuin on ecuo.ecbuin_id=ecbuin.ecbui_id
        left join ecb_infilling as ecbin on ecbuin.ecbin_id=ecbin.ecbin_id
        <where>
            <if test="ecuoId != null and areaStr == null">
                and ecuo.ecuo_id = #{ecuoId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ecuo.ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="ecqulId != null">
                and ecuo.ecqul_id = #{ecqulId,jdbcType=INTEGER}
            </if>
            <if test="areaStr != null">
                and ecuo.area_str = #{areaStr,jdbcType=INTEGER}
            </if>
            <if test="ecuoId != null and ecuoId != null and areaStr != null">
                and <![CDATA[ecuo.ecuo_id != #{ecuoId,jdbcType=INTEGER}]]>
            </if>
            <if test="areaStr != null">
                and ecuo.area_str = #{areaStr,jdbcType=VARCHAR}
            </if>
        </where>
        order by ecuo.sort_id desc limit 1
    </select>

    <delete id="delete" parameterType="org.jeecg.modules.cable.entity.userOffer.EcuOffer">
        delete
        from ecu_offer
        <where>
            <if test="ecuoId != null">
                and ecuo_id = #{ecuoId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>

    <!--update-->
    <update id="update" parameterType="org.jeecg.modules.cable.entity.userOffer.EcuOffer">
        update ecu_offer
        <set>
            <if test="ecCompanyId != null">
                ec_company_id = #{ecCompanyId,jdbcType=INTEGER},
            </if>
            <if test="ecqulId != null">
                ecqul_id = #{ecqulId,jdbcType=INTEGER},
            </if>
            <if test="ecbucId != null">
                ecbuc_id = #{ecbucId,jdbcType=INTEGER},
            </if>
            <if test="startType != null">
                start_type = #{startType,jdbcType=BIT},
            </if>
            <if test="sortId != null">
                sort_id = #{sortId,jdbcType=INTEGER},
            </if>
            <if test="areaStr != null">
                area_str = #{areaStr,jdbcType=VARCHAR},
            </if>
            <if test="addPercent != null">
                add_percent = #{addPercent,jdbcType=DECIMAL},
            </if>
            <if test="fireSilkNumber != null">
                fire_silk_number = #{fireSilkNumber,jdbcType=DECIMAL},
            </if>
            <if test="fireRootNumber != null">
                fire_root_number = #{fireRootNumber,jdbcType=DECIMAL},
            </if>
            <if test="fireMembrance != null">
                fire_membrance = #{fireMembrance,jdbcType=INTEGER},
            </if>
            <if test="firePress != null">
                fire_press = #{firePress,jdbcType=DECIMAL},
            </if>
            <if test="fireStrand != null">
                fire_strand = #{fireStrand,jdbcType=DECIMAL},
            </if>
            <if test="zeroSilkNumber != null">
                zero_silk_number = #{zeroSilkNumber,jdbcType=DECIMAL},
            </if>
            <if test="zeroRootNumber != null">
                zero_root_number = #{zeroRootNumber,jdbcType=DECIMAL},
            </if>
            <if test="zeroMembrance != null">
                zero_membrance = #{zeroMembrance,jdbcType=INTEGER},
            </if>
            <if test="zeroPress != null">
                zero_press = #{zeroPress,jdbcType=DECIMAL},
            </if>
            <if test="zeroStrand != null">
                zero_strand = #{zeroStrand,jdbcType=DECIMAL},
            </if>
            <if test="ecbuiId != null">
                ecbui_id = #{ecbuiId,jdbcType=INTEGER},
            </if>
            <if test="insulationFireThickness != null">
                insulation_fire_thickness = #{insulationFireThickness,jdbcType=DECIMAL},
            </if>
            <if test="insulationZeroThickness != null">
                insulation_zero_thickness = #{insulationZeroThickness,jdbcType=DECIMAL},
            </if>
            <if test="ecbubId != null">
                ecbub_id = #{ecbubId,jdbcType=INTEGER},
            </if>
            <if test="bagThickness != null">
                bag_thickness = #{bagThickness,jdbcType=DECIMAL},
            </if>
            <if test="ecbub22Id != null">
                ecbub_22_id = #{ecbub22Id,jdbcType=INTEGER},
            </if>
            <if test="bag22Thickness != null">
                bag_22_thickness = #{bag22Thickness,jdbcType=DECIMAL},
            </if>
            <if test="ecbuShieldId != null">
                ecbu_shield_id = #{ecbuShieldId,jdbcType=INTEGER},
            </if>
            <if test="shieldThickness != null">
                shield_thickness = #{shieldThickness,jdbcType=DECIMAL},
            </if>
            <if test="shieldPercent != null">
                shield_percent = #{shieldPercent,jdbcType=DECIMAL},
            </if>
            <if test="ecbusbId != null">
                ecbusb_id = #{ecbusbId,jdbcType=INTEGER},
            </if>
            <if test="steelbandThickness != null">
                steelband_thickness = #{steelbandThickness,jdbcType=DECIMAL},
            </if>
            <if test="steelbandStorey != null">
                steelband_storey = #{steelbandStorey,jdbcType=INTEGER},
            </if>
            <if test="ecbuSheathId != null">
                ecbu_sheath_id = #{ecbuSheathId,jdbcType=INTEGER},
            </if>
            <if test="sheathThickness != null">
                sheath_thickness = #{sheathThickness,jdbcType=DECIMAL},
            </if>
            <if test="sheath22Thickness != null">
                sheath22_thickness = #{sheath22Thickness,jdbcType=DECIMAL},
            </if>
            <if test="ecbumId != null">
                ecbum_id = #{ecbumId,jdbcType=INTEGER},
            </if>
            <if test="micatapeThickness != null">
                micatape_thickness = #{micatapeThickness,jdbcType=DECIMAL},
            </if>
            <if test="ecbuinId != null">
                ecbuin_id = #{ecbuinId,jdbcType=INTEGER},
            </if>
            <if test="ecbuswId != null">
                ecbusw_id = #{ecbuswId,jdbcType=INTEGER},
            </if>
            <if test="steelwireMembrance != null">
                steelwire_membrance = #{steelwireMembrance,jdbcType=DECIMAL},
            </if>
            <if test="steelwirePress != null">
                steelwire_press = #{steelwirePress,jdbcType=DECIMAL},
            </if>
            <if test="cableStrand != null">
                cable_strand = #{cableStrand,jdbcType=DECIMAL},
            </if>
            <if test="defaultWeight != null">
                default_weight = #{defaultWeight,jdbcType=DECIMAL},
            </if>
            <if test="defaultMoney != null">
                default_money = #{defaultMoney,jdbcType=DECIMAL},
            </if>
        </set>
        <where>
            <if test="ecuoId != null">
                and ecuo_id = #{ecuoId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="ecqulId != null">
                and ecqul_id = #{ecqulId,jdbcType=INTEGER}
            </if>
            <if test="areaStr != null">
                and area_str = #{areaStr,jdbcType=VARCHAR}
            </if>
        </where>
    </update>


    <update id="reduceSort">
        update ecu_offer set sort_id = sort_id-1 where ecqul_id = #{ecqulId} and sort_id >#{sortId}
    </update>

</mapper>


