<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userOffer.EcuoProgrammeMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userOffer.EcuoProgramme">
        <id column="ecuop_id" jdbcType="INTEGER" property="ecuopId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="programme_name" jdbcType="VARCHAR" property="programmeName"/>
        <result column="core_str" jdbcType="VARCHAR" property="coreStr"/>
        <result column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="add_percent" jdbcType="DECIMAL" property="addPercent"/>
        <result column="min_price" jdbcType="DECIMAL" property="minPrice"/>
        <result column="max_price" jdbcType="DECIMAL" property="maxPrice"/>
    </resultMap>

    <sql id="Base_Column_List">
        ecuop_id
        , ec_company_id, sort_id, programme_name, core_str, area_str, add_percent,min_price,max_price
    </sql>

    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userOffer.EcuoProgramme"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecuo_programme
        <where>
            <if test="ecuopId != null">
                <if test="programmeName == null">
                    and ecuop_id = #{ecuopId,jdbcType=INTEGER}
                </if>
                <if test="ecuopId != null and programmeName != null">
                    and <![CDATA[ecuop_id != #{ecuopId,jdbcType=INTEGER}]]>
                </if>
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="programmeName != null">
                and programme_name = #{programmeName,jdbcType=VARCHAR}
            </if>
        </where>
        order by sort_id desc limit 1
    </select>

</mapper>


