<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userOffer.EcuOfferMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userOffer.EcuOffer">
        <id column="ecuo_id" jdbcType="INTEGER" property="ecuoId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="ecqul_id" jdbcType="INTEGER" property="ecqulId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="add_percent" jdbcType="DECIMAL" property="addPercent"/>
        <result column="material" jdbcType="VARCHAR" property="material"/>
        <result column="default_weight" jdbcType="DECIMAL" property="defaultWeight"/>
        <result column="default_money" jdbcType="DECIMAL" property="defaultMoney"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.userOffer.EcuOffer">
        <id column="ecuo_id" jdbcType="INTEGER" property="ecuoId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="ecqul_id" jdbcType="INTEGER" property="ecqulId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="add_percent" jdbcType="DECIMAL" property="addPercent"/>
        <result column="material" jdbcType="VARCHAR" property="material"/>
        <result column="default_weight" jdbcType="DECIMAL" property="defaultWeight"/>
        <result column="default_money" jdbcType="DECIMAL" property="defaultMoney"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        ecuo_id
        ,material, ec_company_id, ecqul_id, ecbuc_id, start_type, sort_id, area_str, add_percent,
        fire_silk_number, fire_root_number, fire_membrance, fire_press, fire_strand, zero_silk_number, zero_root_number,
        zero_membrance,
        zero_press, zero_strand, ecbui_id, insulation_fire_thickness, insulation_zero_thickness,
        ecbub_id, bag_thickness, ecbub_22_id, bag_22_thickness,
        ecbusb_id, steelband_thickness,
        ecbu_shield_id, shield_thickness, shield_percent, ecbusb_id, steelband_thickness,
        steelband_storey, ecbu_sheath_id, sheath_thickness, sheath22_thickness, ecbum_id, micatape_thickness,
        ecbuin_id, ecbusw_id, steelwire_membrance, steelwire_press,
        cable_strand, default_weight, default_money
    </sql>

    <sql id="With_List">
        ecuo
        .
        ecuo_id
        ,ecuo.material, ecuo.ec_company_id, ecuo.ecqul_id, ecuo.start_type, ecuo.sort_id, ecuo.area_str,
        ecuo.add_percent, default_weight, default_money
    </sql>

    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userOffer.EcuOffer" resultMap="UnionResultMap">
        select
        *
        from ecu_offer as ecuo
        <where>
            <if test="startType!=null">
                and ecuo.start_type=#{startType}
            </if>
            <if test="ecqulId!=null">
                and ecuo.ecqul_id=#{ecqulId}
            </if>
            <if test="sortId != null">
                and <![CDATA[ecuo.sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
        order by ecuo.sort_id asc
    </select>

    <!--getCount-->
    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.userOffer.EcuOffer" resultType="java.lang.Long">
        select count(*) from ecu_offer
        <where>
            <if test="startType!=null">
                and start_type=#{startType}
            </if>
            <if test="ecqulId!=null">
                and ecqul_id=#{ecqulId}
            </if>
        </where>
    </select>

    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userOffer.EcuOffer" resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecu_offer as ecuo
        left join ecqu_level as ecqul on ecuo.ecqul_id=ecqul.ecqul_id
        <where>
            <if test="ecuoId != null and areaStr == null">
                and ecuo.ecuo_id = #{ecuoId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ecuo.ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="ecqulId != null">
                and ecuo.ecqul_id = #{ecqulId,jdbcType=INTEGER}
            </if>
            <if test="areaStr != null">
                and ecuo.area_str = #{areaStr,jdbcType=INTEGER}
            </if>
            <if test="ecuoId != null and ecuoId != null and areaStr != null">
                and <![CDATA[ecuo.ecuo_id != #{ecuoId,jdbcType=INTEGER}]]>
            </if>
            <if test="areaStr != null">
                and ecuo.area_str = #{areaStr,jdbcType=VARCHAR}
            </if>
        </where>
        order by ecuo.sort_id desc limit 1
    </select>

    <select id="getMaterialIdList" resultType="java.lang.Integer">
        SELECT <![CDATA[JSON_EXTRACT(material, '$.conductor.id')]]>
        FROM ecu_offer
        union
        SELECT  <![CDATA[JSON_EXTRACT(material, '$.infilling.id')]]>
        FROM ecu_offer
        union
        SELECT items_table.id AS item_id
        FROM ecu_offer,
           <![CDATA[JSON_TABLE(material -> '$.externals', '$[*]' COLUMNS (id INT PATH '$.id')) AS items_table]]>
        union
        SELECT items_table.id AS item_id
        FROM ecu_offer,
           <![CDATA[JSON_TABLE(material -> '$.internals', '$[*]' COLUMNS ( id INT PATH '$.id' )) AS items_table]]>
    </select>

    <delete id="deleteRecord" parameterType="org.jeecg.modules.cable.entity.userOffer.EcuOffer">
        delete
        from ecu_offer
        <where>
            <if test="ecuoId != null">
                and ecuo_id = #{ecuoId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>

    <!--update-->
    <update id="updateRecord" parameterType="org.jeecg.modules.cable.entity.userOffer.EcuOffer">
        update ecu_offer
        <set>
            <if test="ecCompanyId != null">
                ec_company_id = #{ecCompanyId,jdbcType=INTEGER},
            </if>
            <if test="ecqulId != null">
                ecqul_id = #{ecqulId,jdbcType=INTEGER},
            </if>
            <if test="startType != null">
                start_type = #{startType,jdbcType=BIT},
            </if>
            <if test="sortId != null">
                sort_id = #{sortId,jdbcType=INTEGER},
            </if>
            <if test="areaStr != null and areaStr!=''">
                area_str = #{areaStr,jdbcType=VARCHAR},
            </if>
            <if test="addPercent != null">
                add_percent = #{addPercent,jdbcType=DECIMAL},
            </if>
            <if test="material != null and material!=''">
                material = #{material,jdbcType=VARCHAR},
            </if>
            <if test="defaultWeight != null">
                default_weight = #{defaultWeight,jdbcType=DECIMAL},
            </if>
            <if test="defaultMoney != null">
                default_money = #{defaultMoney,jdbcType=DECIMAL},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            <if test="ecuoId != null">
                and ecuo_id = #{ecuoId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="ecqulId != null">
                and ecqul_id = #{ecqulId,jdbcType=INTEGER}
            </if>
        </where>
    </update>


    <update id="reduceSort">
        update ecu_offer
        set sort_id = sort_id - 1
        where ecqul_id = #{ecqulId}
          and sort_id > #{sortId}
    </update>

</mapper>


