<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.systemDelivery.EcbDeliveryMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.systemDelivery.EcbDelivery">
        <id column="ecbd_id" jdbcType="INTEGER" property="ecbdId"/>
        <id column="ecbs_id" jdbcType="INTEGER" property="ecbsId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="delivery_type" jdbcType="INTEGER" property="deliveryType"/>
        <result column="delivery_name" jdbcType="VARCHAR" property="deliveryName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>


    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.systemDelivery.EcbDelivery">
        <id column="ecbd_id" jdbcType="INTEGER" property="ecbdId"/>
        <id column="ecbs_id" jdbcType="INTEGER" property="ecbsId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="delivery_type" jdbcType="INTEGER" property="deliveryType"/>
        <result column="delivery_name" jdbcType="VARCHAR" property="deliveryName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <association property="ecbStore" javaType="org.jeecg.modules.cable.entity.systemCommon.EcbStore">
            <result column="store_name" property="storeName"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        ecbd_id
        ,ecbs_id, start_type, sort_id, delivery_type, delivery_name, description
    </sql>

    <sql id="With_List">
        ecbd
        .
        ecbd_id
        ,ecbd.ecbs_id, ecbd.start_type, ecbd.sort_id, ecbd.delivery_type, ecbd.delivery_name, ecbd.description,
         ecbs.store_name
    </sql>

    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.systemDelivery.EcbDelivery"
            resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecb_delivery as ecbd
        left join ecb_store as ecbs on ecbd.ecbs_id=ecbs.ecbs_id
        <where>
            <if test="startType!=null">
                and ecbd.start_type=#{startType}
            </if>
            <if test="sortId != null">
                and <![CDATA[ecbd.sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
            <if test="ecbsId!=null">
                and ecbd.ecbs_id=#{ecbsId}
            </if>
        </where>
    </select>

    <!--getCount-->
    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.systemDelivery.EcbDelivery"
            resultType="java.lang.Long">
        select count(*) from ecb_delivery
        <where>
            <if test="startType!=null">
                AND start_type=#{startType}
            </if>
        </where>
    </select>

    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.systemDelivery.EcbDelivery"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecb_delivery
        <where>
            <if test="ecbdId != null and deliveryName == null">
                and ecbd_id = #{ecbdId,jdbcType=INTEGER}
            </if>
            <if test="ecbdId != null and ecbdId != null and deliveryName != null">
                <![CDATA[and ecbd_id != #{ecbdId,jdbcType=INTEGER}]]>
            </if>
            <if test="deliveryName != null">
                and delivery_name = #{deliveryName,jdbcType=VARCHAR}
            </if>
        </where>
        order by sort_id desc limit 1
    </select>


</mapper>


