<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userDelivery.EcbudPriceMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userDelivery.EcbudPrice">
        <id column="ecbudp_id" jdbcType="INTEGER" property="ecbudpId"/>
        <result column="ecbud_id" jdbcType="INTEGER" property="ecbudId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="ecp_id" jdbcType="INTEGER" property="ecpId"/>
        <result column="province_name" jdbcType="VARCHAR" property="provinceName"/>
        <result column="first_price" jdbcType="DECIMAL" property="firstPrice"/>
        <result column="price1" jdbcType="DECIMAL" property="price1"/>
        <result column="price2" jdbcType="DECIMAL" property="price2"/>
        <result column="price3" jdbcType="DECIMAL" property="price3"/>
        <result column="price4" jdbcType="DECIMAL" property="price4"/>
        <result column="price5" jdbcType="DECIMAL" property="price5"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.userDelivery.EcbudPrice">
        <id column="ecbudp_id" jdbcType="INTEGER" property="ecbudpId"/>
        <result column="ecbud_id" jdbcType="INTEGER" property="ecbudId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="ecp_id" jdbcType="INTEGER" property="ecpId"/>
        <result column="province_name" jdbcType="VARCHAR" property="provinceName"/>
        <result column="first_price" jdbcType="DECIMAL" property="firstPrice"/>
        <result column="price1" jdbcType="DECIMAL" property="price1"/>
        <result column="price2" jdbcType="DECIMAL" property="price2"/>
        <result column="price3" jdbcType="DECIMAL" property="price3"/>
        <result column="price4" jdbcType="DECIMAL" property="price4"/>
        <result column="price5" jdbcType="DECIMAL" property="price5"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <!-- ecProvince -->
        <association property="ecProvince" javaType="org.jeecg.modules.cable.entity.pcc.EcProvince">
            <result column="p_province_name" property="provinceName"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        ecbudp_id
        , ecbud_id, start_type, sort_id, ecp_id, province_name, first_price, price1,
    price2, price3, price4, price5,add_time,update_time
    </sql>

    <!-- With_List -->
    <sql id="With_List">
        ecbudp
        .
        ecbudp_id
        , ecbudp.ecbud_id, ecbudp.start_type, ecbudp.sort_id, ecbudp.ecp_id, ecbudp.province_name,
  	ecbudp.first_price, ecbudp.price1, ecbudp.price2,
  	ecbudp.price3, ecbudp.price4,
    ecbudp.price5,ecbudp.add_time,ecbudp.update_time,
   	ecp.province_name
    </sql>
    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userDelivery.EcbudPrice" resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecbud_price as ecbudp
        left join ec_province as ecp on ecbudp.ecp_id=ecp.ecp_id
        <where>
            <if test="startType!=null">
                and ecbudp.start_type=#{startType}
            </if>
            <if test="ecbudId!=null">
                and ecbudp.ecbud_id=#{ecbudId}
            </if>
            <if test="ecpId != null">
                and ecp_id = #{ecpId,jdbcType=INTEGER}
            </if>
        </where>
        order by ecbudp.sort_id asc
    </select>

    <!--getCount-->
    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.userDelivery.EcbudPrice" resultType="java.lang.Long">
        select count(*) from ecbud_price
        <where>
            <if test="startType!=null">
                AND start_type=#{startType}
            </if>
            <if test="ecbudId!=null">
                AND ecbud_id=#{ecbudId}
            </if>
        </where>
    </select>

    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userDelivery.EcbudPrice" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbud_price
        <where>
            <if test="ecbudpId != null">
                and ecbudp_id = #{ecbudpId,jdbcType=INTEGER}
            </if>
            <if test="startType != null">
                and start_type=#{startType,jdbcType=BIT}
            </if>
            <if test="ecbudId != null">
                and ecbud_id=#{ecbudId,jdbcType=INTEGER}
            </if>
            <if test="ecpId != null">
                and ecp_id=#{ecpId,jdbcType=INTEGER}
            </if>
            <if test="provinceName != null">
                and province_name = #{provinceName,jdbcType=VARCHAR}
            </if>
        </where>
        limit 1
    </select>

    <!-- getListGreaterThanSortId -->
    <select id="getListGreaterThanSortId" parameterType="org.jeecg.modules.cable.entity.userDelivery.EcbudPrice"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbud_price
        <where>
            <if test="ecbudId != null">
                AND ecbud_id=#{ecbudId}
            </if>
            <if test="sortId != null">
                AND <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
    </select>

    <!-- delete -->
    <delete id="deleteRecord" parameterType="java.lang.Integer">
        delete
        from ecbud_price
        <where>
            <if test="ecbudpId != null">
                and ecbudp_id = #{ecbudpId,jdbcType=INTEGER}
            </if>
            <if test="ecbudId != null">
                and ecbud_id = #{ecbudId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>


    <!-- getObjectPassProvinceName -->
    <select id="getObjectPassProvinceName" parameterType="org.jeecg.modules.cable.entity.userDelivery.EcbudPrice"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbud_price
        <where>
            <if test="ecbudpId != null">
                and <![CDATA[ecbudp_id != #{ecbudpId,jdbcType=INTEGER}]]>
            </if>
            <if test="ecbudId != null">
                and ecbud_id = #{ecbudId,jdbcType=INTEGER}
            </if>
            <if test="provinceName != null">
                and province_name = #{provinceName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!-- getLatestObject -->
    <select id="getLatestObject" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbud_price
        <where>
            <if test="ecbudId != null">
                AND ecbud_id = #{ecbudId,jdbcType=INTEGER}
            </if>
        </where>
        order by sort_id desc
        limit 1
    </select>


</mapper>


