<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.systemEcable.sys.EcbMicatapeSysDao">

    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.systemEcable.EcbMicatape">
        <id column="ecbm_id" jdbcType="INTEGER" property="ecbmId" />
        <result column="eca_id" jdbcType="INTEGER" property="ecaId" />
        <result column="eca_name" jdbcType="VARCHAR" property="ecaName" />
        <result column="start_type" jdbcType="BIT" property="startType" />
        <result column="sort_id" jdbcType="INTEGER" property="sortId" />
        <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation" />
        <result column="full_name" jdbcType="VARCHAR" property="fullName" />
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
        <result column="density" jdbcType="DECIMAL" property="density" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="add_time" jdbcType="BIGINT" property="addTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        ecbm_id, eca_id, eca_name, start_type, sort_id, abbreviation, full_name, unit_price,
        density, description, add_time, update_time
    </sql>

    <insert id="insert" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbBag">
        insert into ecb_micatape (ecbm_id, eca_id, eca_name, start_type, sort_id, abbreviation,
                             full_name, unit_price, density, description, add_time, update_time)
        values (#{ecbmId,jdbcType=INTEGER}, #{ecaId,jdbcType=INTEGER}, #{ecaName,jdbcType=VARCHAR},
                #{startType,jdbcType=BIT},
                #{sortId,jdbcType=INTEGER}, #{abbreviation,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR},
                #{unitPrice,jdbcType=DECIMAL}, #{density,jdbcType=DECIMAL},
                #{description,jdbcType=VARCHAR}, #{addTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT})
    </insert>

    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbMicatape" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from ecb_micatape
        <where>
            <if test="ecbmId != null and abbreviation == null and fullName == null">
                and ecbm_id = #{ecbmId,jdbcType=INTEGER}
            </if>
            <if test="abbreviation != null">
                and abbreviation = #{abbreviation,jdbcType=VARCHAR}
            </if>
            <if test="ecbmId != null and abbreviation != null and fullName != null">
                <if test="ecbmId == 0">
                    and <![CDATA[(abbreviation = #{abbreviation,jdbcType=INTEGER}
                    or full_name = #{fullName,jdbcType=VARCHAR})]]>
                </if>
                <if test="ecbmId != null">
                    and <![CDATA[ecbm_id != #{ecbmId,jdbcType=INTEGER}]]>
                    and <![CDATA[(abbreviation = #{abbreviation,jdbcType=INTEGER}
                    or full_name = #{fullName,jdbcType=VARCHAR})]]>
                </if>
            </if>
        </where>
        order by sort_id desc limit 1
    </select>

    <select id="getList" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbMicatape" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecb_micatape
        <where>
            <if test="startType != null">
                and startType = #{startType,jdbcType=BIT}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
        order by sort_id asc
    </select>

    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbMicatape" resultType="java.lang.Long">
        select count(*) from ecb_micatape
        <where>
            <if test="startType != null">
                and startType = #{startType,jdbcType=BIT}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
    </select>

    <update id="update" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbMicatape">
        update ecb_micatape
        <set>
            <if test="startType != null">
                start_type = #{startType,jdbcType=BIT},
            </if>
            <if test="sortId != null">
                sort_id = #{sortId,jdbcType=INTEGER},
            </if>
            <if test="abbreviation != null">
                abbreviation = #{abbreviation,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                full_name = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="unitPrice != null">
                unit_price = #{unitPrice,jdbcType=DECIMAL},
            </if>
            <if test="density != null">
                density = #{density,jdbcType=DECIMAL},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT}
            </if>
        </set>
        <where>
            <if test="ecbmId != null">
                and ecbm_id = #{ecbmId,jdbcType=INTEGER}
            </if>
        </where>
    </update>

    <!-- delete -->
    <delete id="delete" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbMicatape">
        delete from ecb_micatape
        <where>
            <if test="ecbmId != null">
                and ecbm_id = #{ecbmId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>

</mapper>


