<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.cable.mapper.dao.user.EcCustomerMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.user.EcCustomer">
        <id column="eccu_id" jdbcType="INTEGER" property="eccuId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="ecu_id" jdbcType="INTEGER" property="ecuId"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="customer_phone" jdbcType="VARCHAR" property="customerPhone"/>
        <result column="account_number" jdbcType="VARCHAR" property="accountNumber"/>
        <result column="receive_name" jdbcType="VARCHAR" property="receiveName"/>
        <result column="receive_phone" jdbcType="VARCHAR" property="receivePhone"/>
        <result column="receive_address" jdbcType="VARCHAR" property="receiveAddress"/>
        <result column="bill_name" jdbcType="VARCHAR" property="billName"/>
        <result column="bill_phone" jdbcType="VARCHAR" property="billPhone"/>
        <result column="bill_address" jdbcType="VARCHAR" property="billAddress"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="tax_account" jdbcType="VARCHAR" property="taxAccount"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="company_phone" jdbcType="VARCHAR" property="companyPhone"/>
        <result column="bank_name" jdbcType="VARCHAR" property="bankName"/>
        <result column="bank_account" jdbcType="VARCHAR" property="bankAccount"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <sql id="Base_Column_List">
        eccu_id
        , ec_company_id, ecu_id, customer_name, customer_phone, account_number, receive_name, receive_phone,
        receive_address, bill_name, bill_phone, bill_address, company_name, tax_account, address, company_phone,
        bank_name, bank_account, email, description
    </sql>

    <!--getList-->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.user.EcCustomer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ec_customer
        <where>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="ecuId != null">
                and ecu_id = #{ecuId,jdbcType=INTEGER}
            </if>
        </where>
        order by eccu_id desc
    </select>

    <!--getCount-->
    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.user.EcCustomer" resultType="java.lang.Long">
        select count(*) from ec_customer
        <where>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="ecuId != null">
                and ecu_id = #{ecuId,jdbcType=INTEGER}
            </if>
            <if test="customerName != null">
                and <![CDATA[customer_name like #{customerName,jdbcType=VARCHAR}]]>
            </if>
            <if test="customerPhone != null">
                and <![CDATA[customer_phone like #{customerPhone,jdbcType=VARCHAR}]]>
            </if>
            <if test="accountNumber != null">
                and <![CDATA[account_number like #{accountNumber,jdbcType=VARCHAR}]]>
            </if>
            <if test="receiveName != null">
                and <![CDATA[receive_name like #{receiveName,jdbcType=VARCHAR}]]>
            </if>
            <if test="receivePhone != null">
                and <![CDATA[receive_phone like #{receivePhone,jdbcType=VARCHAR}]]>
            </if>
            <if test="receiveAddress != null">
                and <![CDATA[receive_address like #{receiveAddress,jdbcType=VARCHAR}]]>
            </if>
            <if test="billName != null">
                and <![CDATA[bill_name like #{billName,jdbcType=VARCHAR}]]>
            </if>
            <if test="billPhone != null">
                and <![CDATA[bill_phone like #{billPhone,jdbcType=VARCHAR}]]>
            </if>
            <if test="billAddress != null">
                and <![CDATA[bill_address like #{billAddress,jdbcType=VARCHAR}]]>
            </if>
            <if test="companyName != null">
                and <![CDATA[company_name like #{companyName,jdbcType=VARCHAR}]]>
            </if>
            <if test="taxAccount != null">
                and <![CDATA[tax_account like #{taxAccount,jdbcType=VARCHAR}]]>
            </if>
            <if test="address != null">
                and <![CDATA[address like #{address,jdbcType=VARCHAR}]]>
            </if>
            <if test="companyPhone != null">
                and <![CDATA[company_phone like #{companyPhone,jdbcType=VARCHAR}]]>
            </if>
            <if test="bankName != null">
                and <![CDATA[bank_name like #{bankName,jdbcType=VARCHAR}]]>
            </if>
            <if test="bankAccount != null">
                and <![CDATA[bank_account like #{bankAccount,jdbcType=VARCHAR}]]>
            </if>
            <if test="email != null">
                and <![CDATA[email like #{email,jdbcType=VARCHAR}]]>
            </if>
        </where>
        <if test="pageNumber != null">
            limit #{startNumber},#{pageNumber}
        </if>
    </select>

    <!--getObject-->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.user.EcCustomer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ec_customer
        <where>
            <if test="eccuId != null">
                <if test="customerName == null">
                    and eccu_id = #{eccuId}
                </if>
                <if test="customerName != null and eccuId != null">
                    and <![CDATA[eccu_id != #{eccuId,jdbcType=INTEGER}]]>
                </if>
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="customerName != null">
                and customer_name = #{customerName,jdbcType=VARCHAR}
            </if>
        </where>
        limit 1
    </select>

</mapper>

