<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.user.EcuDataMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.user.EcuData">
        <id column="ecud_id" jdbcType="INTEGER" property="ecudId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="ecu_id" jdbcType="INTEGER" property="ecuId"/>
        <result column="start_type" jdbcType="BOOLEAN" property="startType"/>
        <result column="ecbus_id" jdbcType="INTEGER" property="ecbusId"/>
        <result column="ecusm_id" jdbcType="INTEGER" property="ecusmId"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.user.EcuData">
        <id column="ecud_id" jdbcType="INTEGER" property="ecudId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="ecu_id" jdbcType="INTEGER" property="ecuId"/>
        <result column="start_type" jdbcType="BOOLEAN" property="startType"/>
        <result column="ecbus_id" jdbcType="INTEGER" property="ecbusId"/>
        <result column="ecusm_id" jdbcType="INTEGER" property="ecusmId"/>
        <result column="ec_username" jdbcType="VARCHAR" property="ecUsername"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <association property="ecuSilkModel" javaType="org.jeecg.modules.cable.entity.userEcable.EcuSilkModel">
            <result column="ecu_silk_model_name" property="abbreviation"/>
        </association>
        <!--store 仓库-->
        <association property="ecbuStore" javaType="org.jeecg.modules.cable.entity.userCommon.EcbuStore">
            <result column="store_name" property="storeName"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        ecud_id
        , ec_company_id, ecu_id, start_type, ecbus_id, ecusm_id, create_time, update_time
    </sql>

    <sql id="With_List">
        ecud
        .
        ecud_id
        , ecud.ec_company_id, ecud.ecu_id, ecud.start_type, ecud.ecbus_id, ecud.ecusm_id,
        ecud.create_time, ecud.update_time,
        ecbus.store_name, ecu.realname as ec_username,model.abbreviation as ecu_silk_model_name
    </sql>

    <select id="getList" parameterType="org.jeecg.modules.cable.entity.user.EcuData" resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecu_data as ecud
        left join ecbu_store as ecbus on ecud.ecbus_id=ecbus.ecbus_id
        left join ecu_silk_model model on ecud.ecusm_id = model.ecusm_id
        left join sys_user as ecu on ecud.ecu_id=ecu.user_id
        <where>
            <if test="ecCompanyId != null">
                and ecud.ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="ecuId != null">
                and ecud.ecu_id = #{ecuId,jdbcType=INTEGER}
            </if>
            <if test="startType != null">
                and ecud.start_type = #{startType}
            </if>
        </where>
    </select>

    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.user.EcuNotice" resultType="java.lang.Long">
        select count(*) from ecu_data
        <where>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="ecuId != null">
                and ecu_id = #{ecuId,jdbcType=INTEGER}
            </if>
            <if test="startType != null">
                and start_type = #{startType}
            </if>
        </where>
    </select>

    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.user.EcuData" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecu_data
        <where>
            <if test="ecudId != null">
                and ecud_id = #{ecudId,jdbcType=INTEGER}
            </if>
            <if test="ecuId != null">
                and ecu_id = #{ecuId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="startType != null">
                and start_type = #{startType,jdbcType=BIT}
            </if>
        </where>
        limit 1
    </select>

    <update id="update" parameterType="org.jeecg.modules.cable.entity.user.EcuData">
        update ecu_data
        <set>
            <if test="startType != null">
                start_type = #{startType,jdbcType=BIT},
            </if>
            <if test="ecbusId != null">
                ecbus_id = #{ecbusId,jdbcType=INTEGER},
            </if>
            <if test="ecusmId != null">
                ecusm_id = #{ecusmId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        <where>
            <if test="ecuId != null">
                and ecu_id = #{ecuId,jdbcType=INTEGER}
            </if>
            <if test="ecudId != null">
                and ecud_id = #{ecudId,jdbcType=INTEGER}
            </if>
        </where>
    </update>

</mapper>


