<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.user.EcuDescMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.user.EcuDesc">
        <id column="ecud_id" jdbcType="INTEGER" property="ecudId"/>

        <id column="ecusm_id" jdbcType="INTEGER" property="ecusmId"/>
        <id column="core_str" jdbcType="VARCHAR" property="coreStr"/>
        <id column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="ecu_id" jdbcType="INTEGER" property="ecuId"/>
        <result column="default_type" jdbcType="BOOLEAN" property="defaultType"/>
        <result column="start_type" jdbcType="BOOLEAN" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="add_time" jdbcType="BIGINT" property="addTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.user.EcuDesc">
        <id column="ecud_id" jdbcType="INTEGER" property="ecudId"/>
        <id column="ecusm_id" jdbcType="INTEGER" property="ecusmId"/>
        <id column="core_str" jdbcType="VARCHAR" property="coreStr"/>
        <id column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="ecu_id" jdbcType="INTEGER" property="ecuId"/>
        <result column="default_type" jdbcType="BOOLEAN" property="defaultType"/>
        <result column="start_type" jdbcType="BOOLEAN" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="add_time" jdbcType="BIGINT" property="addTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <!--user 用户-->
        <association property="sysUser" javaType="org.jeecg.modules.system.entity.SysUser">
            <result column="ec_username" property="username"/>
        </association>
    </resultMap>

    <sql id="With_List">
        ecud
        .
        ecud_id
        ,ecud.ecusm_id,ecud.core_str,ecud.area_str,
        ecud.ec_company_id, ecud.ecusm_id,ecud.ecu_id, ecud.default_type, ecud.start_type, ecud.sort_id,
        ecud.content, ecud.add_time,
        ecud.update_time, ecu.username as ec_username
    </sql>

    <select id="getList" parameterType="org.jeecg.modules.cable.entity.user.EcuDesc" resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecu_desc as ecud
        left join sys_user as ecu on ecud.ecu_id=ecu.user_id
        <where>
            <if test="ecCompanyId != null">
                and ecud.ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="ecuId != null">
                and ecud.ecu_id = #{ecuId,jdbcType=INTEGER}
            </if>
            <if test="startType != null">
                and ecud.start_type = #{startType}
            </if>
            <if test="sortId != null">
                and <![CDATA[ecud.sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
        order by ecud.sort_id asc
        <if test="startNumber != null">
            limit #{startNumber,jdbcType=INTEGER},#{pageNumber,jdbcType=INTEGER}
        </if>
    </select>

    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.user.EcuDesc" resultType="java.lang.Long">
        select count(*) from ecu_desc
        <where>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="ecuId != null">
                and ecu_id = #{ecuId,jdbcType=INTEGER}
            </if>
            <if test="startType != null">
                and start_type = #{startType}
            </if>
        </where>
    </select>

    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.user.EcuDesc" resultMap="BaseResultMap">
        select * from ecu_desc
        <where>
            <if test="ecudId != null">
                and ecud_id = #{ecudId,jdbcType=INTEGER}
            </if>
            <if test="ecuId != null">
                and ecu_id = #{ecuId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="startType != null">
                and start_type = #{startType,jdbcType=BIT}
            </if>
            <if test="defaultType != null">
                and default_type = #{defaultType,jdbcType=BIT}
            </if>
            <if test="ecusmId != null and ecusmId!=''">
                and    <![CDATA[(ecusm_id like  concat( #{ecusmId,jdbcType=VARCHAR}, ',%' )  or
                 ecusm_id like concat( '%,', #{ecusmId,jdbcType=VARCHAR}, ',%' )  or
                 ecusm_id LIKE concat( '%,', #{ecusmId,jdbcType=VARCHAR} )   OR
                 ecusm_id = #{ecusmId,jdbcType=VARCHAR})
                 ]]>
            </if>
            <if test="coreStr != null and coreStr!=''">
                and core_str = #{coreStr,jdbcType=BIT}
            </if>
            <if test="areaStr != null and areaStr!=''">
                and area_str = #{areaStr,jdbcType=BIT}
            </if>
        </where>
        order by sort_id desc limit 1
    </select>

    <delete id="deleteRecord" parameterType="org.jeecg.modules.cable.entity.user.EcuDesc">
        delete
        from ecu_desc
        <where>
            <if test="ecuId != null">
                and ecu_id = #{ecuId,jdbcType=INTEGER}
            </if>
            <if test="ecudId != null">
                and ecud_id = #{ecudId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>

</mapper>


