<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userQuality.EcquLevelMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userQuality.EcquLevel">
        <id column="ecqul_id" jdbcType="INTEGER" property="ecqulId"/>
        <result column="ecus_id" jdbcType="INTEGER" property="ecusId"/>
        <result column="ecbuc_id" jdbcType="INTEGER" property="ecbucId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="power_id" jdbcType="INTEGER" property="powerId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="default_type" jdbcType="BIT" property="defaultType"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.userQuality.EcquLevel">
        <id column="ecqul_id" jdbcType="INTEGER" property="ecqulId"/>
        <result column="ecus_id" jdbcType="INTEGER" property="ecusId"/>
        <result column="ecbuc_id" jdbcType="INTEGER" property="ecbucId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="power_id" jdbcType="INTEGER" property="powerId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="default_type" jdbcType="BIT" property="defaultType"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <association property="ecuSilk" javaType="org.jeecg.modules.cable.entity.userEcable.EcuSilk">
            <result column="abbreviation" property="abbreviation"/>
        </association>
        <association property="ecbuConductor" javaType="org.jeecg.modules.cable.entity.userEcable.EcbuConductor">
            <result column="uc_name" property="name"/>
        </association>
        <association property="ecbConductor" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbConductor">
            <result column="c_abbreviation" property="abbreviation"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        ecqul_id
        , ecus_id, ecbuc_id, ec_company_id, start_type, sort_id, power_id, name, default_type, description,
        create_time,update_time
    </sql>


    <sql id="With_List">
        ecqul
        .
        ecqul_id
        , ecqul.ecus_id, ecqul.ecbuc_id, ecqul.ec_company_id, ecqul.start_type, ecqul.sort_id,
        ecqul.power_id, ecqul.name, ecqul.default_type, ecqul.description, ecus.abbreviation,
        ecbuc.name as uc_name,
        ecbc.abbreviation as c_abbreviation
    </sql>
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userQuality.EcquLevel" resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecqu_level as ecqul
        left join ecu_silk as ecus on ecqul.ecus_id=ecus.ecus_id
        left join ecbu_conductor as ecbuc on ecqul.ecbuc_id=ecbuc.ecbuc_id
        left join ecb_conductor as ecbc on ecbuc.ecbc_id=ecbc.ecbc_id
        <where>
            <if test="startType!=null">
                and ecqul.start_type=#{startType}
            </if>
            <if test="ecCompanyId!=null">
                and ecqul.ec_company_id=#{ecCompanyId}
            </if>
            <if test="ecusId != null">
                and ecqul.ecus_id = #{ecusId,jdbcType=INTEGER}
            </if>
            <if test="sortId != null">
                and <![CDATA[ecqul.sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
        order by ecqul.sort_id asc
    </select>

    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.userQuality.EcquLevel" resultType="java.lang.Long">
        select count(*) from ecqu_level
        <where>
            <if test="startType!=null">
                AND start_type=#{startType}
            </if>
            <if test="ecCompanyId!=null">
                AND ec_company_id=#{ecCompanyId}
            </if>
        </where>
    </select>

    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userQuality.EcquLevel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecqu_level
        <where>
            <if test="ecqulId != null">
                and ecqul_id = #{ecqulId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="defaultType != null">
                and default_type = #{defaultType,jdbcType=BIT}
            </if>
            <if test="ecusId != null">
                and ecus_id = #{ecusId,jdbcType=INTEGER}
            </if>
        </where>
        order by sort_id desc limit 1
    </select>



    <update id="updateRecord" parameterType="org.jeecg.modules.cable.entity.userQuality.EcquLevel">
        update ecqu_level
        <set>
            <if test="ecusId != null">
                ecus_id = #{ecusId,jdbcType=INTEGER},
            </if>
            <if test="ecbucId != null">
                ecbuc_id = #{ecbucId,jdbcType=INTEGER},
            </if>
            <if test="ecCompanyId != null">
                ec_company_id = #{ecCompanyId,jdbcType=INTEGER},
            </if>
            <if test="startType != null">
                start_type = #{startType,jdbcType=BIT},
            </if>
            <if test="sortId != null">
                sort_id = #{sortId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="defaultType != null">
                default_type = #{defaultType,jdbcType=BIT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="ecqulId != null">
                and ecqul_id = #{ecqulId,jdbcType=INTEGER}
            </if>
            <if test="ecqulId == null and name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="ecqulId == null and ecusId != null">
                and ecus_id = #{ecusId,jdbcType=INTEGER}
            </if>
        </where>
    </update>


</mapper>


