<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.systemOffer.EcOfferMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.systemOffer.EcOffer">
        <id column="eco_id" jdbcType="INTEGER" property="ecoId"/>
        <result column="ecs_id" jdbcType="INTEGER" property="ecsId"/>
        <result column="ecql_id" jdbcType="INTEGER" property="ecqlId"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="add_percent" jdbcType="DECIMAL" property="addPercent"/>
        <result column="default_weight" jdbcType="DECIMAL" property="defaultWeight"/>
        <result column="default_money" jdbcType="DECIMAL" property="defaultMoney"/>
    </resultMap>


    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.systemOffer.EcOffer">
        <id column="eco_id" jdbcType="INTEGER" property="ecoId"/>
        <result column="ecs_id" jdbcType="INTEGER" property="ecsId"/>
        <result column="ecql_id" jdbcType="INTEGER" property="ecqlId"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="add_percent" jdbcType="DECIMAL" property="addPercent"/>
        <result column="default_weight" jdbcType="DECIMAL" property="defaultWeight"/>
        <result column="default_money" jdbcType="DECIMAL" property="defaultMoney"/>
    </resultMap>


    <sql id="Base_Column_List">
        eco_id
        ,ecql_id
        , ecs_id, sort_id, area_str, add_percent, fire_silk_number, fire_root_number, fire_membrance, fire_press,
        fire_strand, zero_silk_number, zero_root_number, zero_membrance,
        zero_press, zero_strand, ecbi_id, insulation_fire_thickness, insulation_zero_thickness,
        ecbb_id, bag_thickness, ecbb_22_id, bag_22_thickness,
        ecbsb_id, steelband_thickness,
        ecb_shield_id, shield_thickness, shield_percent, ecbsb_id, steelband_thickness,
        steelband_storey, ecb_sheath_id, sheath_thickness, sheath22_thickness, ecbm_id, micatape_thickness,
        ecbin_id, ecbsw_id, steelwire_membrance, steelwire_press, cable_strand, default_weight, default_money
    </sql>


    <sql id="With_List">
        eco
        .
        *
        ,
        ecbc.abbreviation as c_abbreviation,
        ecbm.abbreviation as m_abbreviation,
        ecbi.abbreviation as i_abbreviation,
        ecbb.abbreviation as b_abbreviation,
        ecbb22.abbreviation as b22_abbreviation,
        ecbs.abbreviation as s_abbreviation,
        ecbsb.abbreviation as steel_abbreviation,
        ecbsh.abbreviation as sheath_abbreviation,
        ecbin.abbreviation as in_abbreviation
    </sql>

    <update id="reduceSort">
        update ec_offer
        set sort_id = sort_id - 1
        where ecql_id = #{ecqlId}
          and sort_id > #{sortId}
    </update>

    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.systemOffer.EcOffer" resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ec_offer as eco
        <where>
            <if test="ecsId != null">
                and eco.ecs_id = #{ecsId,jdbcType=INTEGER}
            </if>
            <if test="ecqlId != null">
                and eco.ecql_id = #{ecqlId,jdbcType=INTEGER}
            </if>
        </where>
        order by eco.sort_id asc
    </select>


    <select id="getObject" resultType="org.jeecg.modules.cable.entity.systemOffer.EcOffer">
        select
        <include refid="Base_Column_List"/>
        from ec_offer
        <where>
            <if test="ecsId != null">
                and ecs_id = #{ecsId,jdbcType=INTEGER}
            </if>
            <if test="ecoId != null">
                and eco_id = #{ecoId,jdbcType=INTEGER}
            </if>
            <if test="areaStr != null">
                and area_str = #{areaStr,jdbcType=VARCHAR}
            </if>
            <if test="ecqlId != null">
                and ecql_id = #{ecqlId,jdbcType=INTEGER}
            </if>
        </where>
        order by sort_id desc
        limit 1
    </select>


</mapper>


