<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.systemOffer.EcOfferMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.systemOffer.EcOffer">
        <id column="eco_id" jdbcType="INTEGER" property="ecoId"/>
        <result column="ecs_id" jdbcType="INTEGER" property="ecsId"/>
        <result column="ecql_id" jdbcType="INTEGER" property="ecqlId"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="add_percent" jdbcType="DECIMAL" property="addPercent"/>
        <result column="default_weight" jdbcType="DECIMAL" property="defaultWeight"/>
        <result column="default_money" jdbcType="DECIMAL" property="defaultMoney"/>
    </resultMap>


    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.systemOffer.EcOffer">
        <id column="eco_id" jdbcType="INTEGER" property="ecoId"/>
        <result column="ecs_id" jdbcType="INTEGER" property="ecsId"/>
        <result column="ecql_id" jdbcType="INTEGER" property="ecqlId"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="add_percent" jdbcType="DECIMAL" property="addPercent"/>
        <result column="default_weight" jdbcType="DECIMAL" property="defaultWeight"/>
        <result column="default_money" jdbcType="DECIMAL" property="defaultMoney"/>
    </resultMap>

    <update id="reduceSort">
        update ec_offer
        set sort_id = sort_id - 1
        where ecql_id = #{ecqlId}
          and sort_id > #{sortId}
    </update>

    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.systemOffer.EcOffer" resultMap="UnionResultMap">
        select
        *
        from ec_offer as eco
        <where>
            <if test="ecsId != null">
                and eco.ecs_id = #{ecsId,jdbcType=INTEGER}
            </if>
            <if test="ecqlId != null">
                and eco.ecql_id = #{ecqlId,jdbcType=INTEGER}
            </if>
        </where>
        order by eco.sort_id asc
    </select>


    <select id="getObject" resultType="org.jeecg.modules.cable.entity.systemOffer.EcOffer">
        select
        *
        from ec_offer
        <where>
            <if test="ecsId != null">
                and ecs_id = #{ecsId,jdbcType=INTEGER}
            </if>
            <if test="ecoId != null">
                and eco_id = #{ecoId,jdbcType=INTEGER}
            </if>
            <if test="areaStr != null">
                and area_str = #{areaStr,jdbcType=VARCHAR}
            </if>
            <if test="ecqlId != null">
                and ecql_id = #{ecqlId,jdbcType=INTEGER}
            </if>
        </where>
        order by sort_id desc
        limit 1
    </select>
    <select id="getMaterialIdList" resultType="java.lang.Integer">
        SELECT JSON_EXTRACT(material, '$.conductor.id')
        FROM ec_offer
        union
        SELECT JSON_EXTRACT(material, '$.infilling.id')
        FROM ec_offer
        union
        SELECT items_table.id AS item_id
        FROM ec_offer,
             JSON_TABLE(material -> '$.externals', '$[*]' COLUMNS (id INT PATH '$.id')) AS items_table
        union
        SELECT items_table.id AS item_id
        FROM ec_offer,
             JSON_TABLE(material -> '$.internals', '$[*]' COLUMNS ( id INT PATH '$.id' )) AS items_table
    </select>


</mapper>


