<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.systemOffer.EcOfferMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.systemOffer.EcOffer">
        <id column="eco_id" jdbcType="INTEGER" property="ecoId"/>
        <result column="ecs_id" jdbcType="INTEGER" property="ecsId"/>
        <result column="ecql_id" jdbcType="INTEGER" property="ecqlId"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="add_percent" jdbcType="DECIMAL" property="addPercent"/>
        <result column="fire_silk_number" jdbcType="DECIMAL" property="fireSilkNumber"/>
        <result column="fire_root_number" jdbcType="DECIMAL" property="fireRootNumber"/>
        <result column="fire_membrance" jdbcType="INTEGER" property="fireMembrance"/>
        <result column="fire_press" jdbcType="DECIMAL" property="firePress"/>
        <result column="fire_strand" jdbcType="DECIMAL" property="fireStrand"/>
        <result column="zero_silk_number" jdbcType="DECIMAL" property="zeroSilkNumber"/>
        <result column="zero_root_number" jdbcType="DECIMAL" property="zeroRootNumber"/>
        <result column="zero_membrance" jdbcType="INTEGER" property="zeroMembrance"/>
        <result column="zero_press" jdbcType="DECIMAL" property="zeroPress"/>
        <result column="zero_strand" jdbcType="DECIMAL" property="zeroStrand"/>
        <result column="ecbi_id" jdbcType="INTEGER" property="ecbiId"/>
        <result column="insulation_fire_thickness" jdbcType="DECIMAL" property="insulationFireThickness"/>
        <result column="insulation_zero_thickness" jdbcType="DECIMAL" property="insulationZeroThickness"/>
        <result column="ecbb_id" jdbcType="INTEGER" property="ecbbId"/>
        <result column="bag_thickness" jdbcType="DECIMAL" property="bagThickness"/>
        <result column="ecbb_22_id" jdbcType="INTEGER" property="ecbb22Id"/>
        <result column="bag_22_thickness" jdbcType="DECIMAL" property="bag22Thickness"/>
        <result column="ecb_shield_id" jdbcType="INTEGER" property="ecbShieldId"/>
        <result column="shield_thickness" jdbcType="DECIMAL" property="shieldThickness"/>
        <result column="shield_percent" jdbcType="DECIMAL" property="shieldPercent"/>
        <result column="ecbsb_id" jdbcType="INTEGER" property="ecbsbId"/>
        <result column="steelband_thickness" jdbcType="DECIMAL" property="steelbandThickness"/>
        <result column="steelband_storey" jdbcType="INTEGER" property="steelbandStorey"/>
        <result column="ecb_sheath_id" jdbcType="INTEGER" property="ecbuSheathId"/>
        <result column="sheath_thickness" jdbcType="DECIMAL" property="sheathThickness"/>
        <result column="sheath22_thickness" jdbcType="DECIMAL" property="sheath22Thickness"/>
        <result column="ecbm_id" jdbcType="INTEGER" property="ecbmId"/>
        <result column="micatape_thickness" jdbcType="DECIMAL" property="micatapeThickness"/>
        <result column="ecbin_id" jdbcType="INTEGER" property="ecbinId"/>
        <result column="ecbsw_id" jdbcType="INTEGER" property="ecbswId"/>
        <result column="steelwire_membrance" jdbcType="DECIMAL" property="steelwireMembrance"/>
        <result column="steelwire_press" jdbcType="DECIMAL" property="steelwirePress"/>
        <result column="cable_strand" jdbcType="DECIMAL" property="cableStrand"/>
        <result column="default_weight" jdbcType="DECIMAL" property="defaultWeight"/>
        <result column="default_money" jdbcType="DECIMAL" property="defaultMoney"/>
    </resultMap>


    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.systemOffer.EcOffer">
        <id column="eco_id" jdbcType="INTEGER" property="ecoId"/>
        <result column="ecs_id" jdbcType="INTEGER" property="ecsId"/>
        <result column="ecql_id" jdbcType="INTEGER" property="ecqlId"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="add_percent" jdbcType="DECIMAL" property="addPercent"/>
        <result column="fire_silk_number" jdbcType="DECIMAL" property="fireSilkNumber"/>
        <result column="fire_root_number" jdbcType="DECIMAL" property="fireRootNumber"/>
        <result column="fire_membrance" jdbcType="INTEGER" property="fireMembrance"/>
        <result column="fire_press" jdbcType="DECIMAL" property="firePress"/>
        <result column="fire_strand" jdbcType="DECIMAL" property="fireStrand"/>
        <result column="zero_silk_number" jdbcType="DECIMAL" property="zeroSilkNumber"/>
        <result column="zero_root_number" jdbcType="DECIMAL" property="zeroRootNumber"/>
        <result column="zero_membrance" jdbcType="INTEGER" property="zeroMembrance"/>
        <result column="zero_press" jdbcType="DECIMAL" property="zeroPress"/>
        <result column="zero_strand" jdbcType="DECIMAL" property="zeroStrand"/>
        <result column="ecbi_id" jdbcType="INTEGER" property="ecbiId"/>
        <result column="insulation_fire_thickness" jdbcType="DECIMAL" property="insulationFireThickness"/>
        <result column="insulation_zero_thickness" jdbcType="DECIMAL" property="insulationZeroThickness"/>
        <result column="ecbb_id" jdbcType="INTEGER" property="ecbbId"/>
        <result column="bag_thickness" jdbcType="DECIMAL" property="bagThickness"/>
        <result column="ecbb_22_id" jdbcType="INTEGER" property="ecbb22Id"/>
        <result column="bag_22_thickness" jdbcType="DECIMAL" property="bag22Thickness"/>
        <result column="ecb_shield_id" jdbcType="INTEGER" property="ecbShieldId"/>
        <result column="shield_thickness" jdbcType="DECIMAL" property="shieldThickness"/>
        <result column="shield_percent" jdbcType="DECIMAL" property="shieldPercent"/>
        <result column="ecbsb_id" jdbcType="INTEGER" property="ecbsbId"/>
        <result column="steelband_thickness" jdbcType="DECIMAL" property="steelbandThickness"/>
        <result column="steelband_storey" jdbcType="INTEGER" property="steelbandStorey"/>
        <result column="ecb_sheath_id" jdbcType="INTEGER" property="ecbuSheathId"/>
        <result column="sheath_thickness" jdbcType="DECIMAL" property="sheathThickness"/>
        <result column="sheath22_thickness" jdbcType="DECIMAL" property="sheath22Thickness"/>
        <result column="ecbm_id" jdbcType="INTEGER" property="ecbmId"/>
        <result column="micatape_thickness" jdbcType="DECIMAL" property="micatapeThickness"/>
        <result column="ecbin_id" jdbcType="INTEGER" property="ecbinId"/>
        <result column="ecbsw_id" jdbcType="INTEGER" property="ecbswId"/>
        <result column="steelwire_membrance" jdbcType="DECIMAL" property="steelwireMembrance"/>
        <result column="steelwire_press" jdbcType="DECIMAL" property="steelwirePress"/>
        <result column="cable_strand" jdbcType="DECIMAL" property="cableStrand"/>
        <result column="default_weight" jdbcType="DECIMAL" property="defaultWeight"/>
        <result column="default_money" jdbcType="DECIMAL" property="defaultMoney"/>
        <!-- 导体 -->
        <association property="ecbConductor" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbConductor">
            <result column="c_abbreviation" property="abbreviation"/>
        </association>
        <!-- 质量等级 -->
        <association property="ecqLevel" javaType="org.jeecg.modules.cable.entity.systemQuality.EcqLevel">
            <result column="l_abbreviation" property="name"/>
        </association>
        <!-- 云母带 -->
        <association property="ecbMicatape" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbMicaTape">
            <result column="m_abbreviation" property="abbreviation"/>
        </association>
        <!-- 绝缘类型 -->
        <association property="ecbInsulation" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbInsulation">
            <result column="i_abbreviation" property="abbreviation"/>
        </association>
        <!-- 包带类型 -->
        <association property="ecbBag" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbBag">
            <result column="b_abbreviation" property="abbreviation"/>
        </association>
        <!-- 凯装包带类型 -->
        <association property="ecb22Bag" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbBag">
            <result column="b22_abbreviation" property="abbreviation"/>
        </association>
        <!-- 屏蔽类型 -->
        <association property="ecbShield" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbShield">
            <result column="s_abbreviation" property="abbreviation"/>
        </association>
        <!-- 钢带 -->
        <association property="ecbSteelband" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbSteelBand">
            <result column="steel_abbreviation" property="abbreviation"/>
        </association>
        <!-- 护套 -->
        <association property="ecbSheath" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbSheath">
            <result column="sheath_abbreviation" property="abbreviation"/>
        </association>
        <!-- 填充物 -->
        <association property="ecbInfilling" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbInfilling">
            <result column="in_abbreviation" property="abbreviation"/>
        </association>
    </resultMap>


    <sql id="Base_Column_List">
        eco_id
        ,ecql_id
        , ecs_id, sort_id, area_str, add_percent, fire_silk_number, fire_root_number, fire_membrance, fire_press,
        fire_strand, zero_silk_number, zero_root_number, zero_membrance,
        zero_press, zero_strand, ecbi_id, insulation_fire_thickness, insulation_zero_thickness,
        ecbb_id, bag_thickness, ecbb_22_id, bag_22_thickness,
        ecbsb_id, steelband_thickness,
        ecb_shield_id, shield_thickness, shield_percent, ecbsb_id, steelband_thickness,
        steelband_storey, ecb_sheath_id, sheath_thickness, sheath22_thickness, ecbm_id, micatape_thickness,
        ecbin_id, ecbsw_id, steelwire_membrance, steelwire_press, cable_strand, default_weight, default_money
    </sql>


    <sql id="With_List">
        eco
        .
        *
        ,
        ecbc.abbreviation as c_abbreviation,
        ecbm.abbreviation as m_abbreviation,
        ecbi.abbreviation as i_abbreviation,
        ecbb.abbreviation as b_abbreviation,
       ecbb22.abbreviation as b22_abbreviation,
        ecbs.abbreviation as s_abbreviation,
        ecbsb.abbreviation as steel_abbreviation,
        ecbsh.abbreviation as sheath_abbreviation,
        ecbin.abbreviation as in_abbreviation
    </sql>

    <update id="reduceSort">
        update ec_offer
        set sort_id = sort_id - 1
        where ecql_id = #{ecqlId}
          and sort_id > #{sortId}
    </update>

    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.systemOffer.EcOffer" resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ec_offer as eco
        LEFT JOIN ecq_level AS ecql ON eco.ecql_id = ecql.ecql_id
        LEFT JOIN ecb_conductor AS ecbc ON ecql.ecbc_id = ecbc.ecbc_id
        LEFT JOIN ecb_mica_tape AS ecbm ON ecbm.ecbm_id = eco.ecbm_id
        LEFT JOIN ecb_insulation AS ecbi ON ecbi.ecbi_id = eco.ecbi_id
        LEFT JOIN ecb_bag AS ecbb ON ecbb.ecbb_id = eco.ecbb_id
        LEFT JOIN ecb_bag AS ecbb22 ON ecbb22.ecbb_id = eco.ecbb_22_id
        LEFT JOIN ecb_shield AS ecbs ON ecbs.ecbs_id = eco.ecb_shield_id
        LEFT JOIN ecb_steel_band AS ecbsb ON ecbsb.ecbsb_id = eco.ecbsb_id
        LEFT JOIN ecb_sheath AS ecbsh ON ecbsh.ecbs_id = eco.ecb_sheath_id
        LEFT JOIN ecb_infilling AS ecbin ON ecbin.ecbin_id = eco.ecbin_id
        <where>
            <if test="ecsId != null">
                and eco.ecs_id = #{ecsId,jdbcType=INTEGER}
            </if>
            <if test="ecqlId != null">
                and eco.ecql_id = #{ecqlId,jdbcType=INTEGER}
            </if>
        </where>
        order by eco.sort_id asc
    </select>


    <select id="getObject" resultType="org.jeecg.modules.cable.entity.systemOffer.EcOffer">
        select
        <include refid="Base_Column_List"/>
        from ec_offer
        <where>
            <if test="ecsId != null">
                and ecs_id = #{ecsId,jdbcType=INTEGER}
            </if>
            <if test="ecoId != null">
                and eco_id = #{ecoId,jdbcType=INTEGER}
            </if>
            <if test="areaStr != null">
                and area_str = #{areaStr,jdbcType=VARCHAR}
            </if>
            <if test="ecqlId != null">
                and ecql_id = #{ecqlId,jdbcType=INTEGER}
            </if>
        </where>
        order by sort_id desc
        limit 1
    </select>


</mapper>


