<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userCommon.EcbuStoreDao">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userCommon.EcbuStore">
        <id column="ecbus_id" jdbcType="INTEGER" property="ecbusId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="default_type" jdbcType="BIT" property="defaultType"/>
        <result column="store_name" jdbcType="VARCHAR" property="storeName"/>
        <result column="percent_copper" jdbcType="DECIMAL" property="percentCopper"/>
        <result column="percent_aluminium" jdbcType="DECIMAL" property="percentAluminium"/>
        <result column="dunit_money" jdbcType="DECIMAL" property="dunitMoney"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <sql id="Base_Column_List">
        ecbus_id
        , ec_company_id, sort_id, start_type, default_type, store_name, percent_copper,
        percent_aluminium, dunit_money, description
    </sql>

    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuStore" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbu_store
        <where>
            <if test="startType!=null">
                AND start_type=#{startType}
            </if>
            <if test="ecCompanyId!=null">
                AND ec_company_id=#{ecCompanyId}
            </if>
        </where>
        order by sort_id asc
    </select>

    <!--getCount-->
    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuStore" resultType="java.lang.Long">
        select count(*) from ecbu_store
        <where>
            <if test="startType!=null">
                AND start_type=#{startType}
            </if>
            <if test="ecCompanyId!=null">
                AND ec_company_id=#{ecCompanyId}
            </if>
        </where>
    </select>

    <!-- getListGreaterThanSortId -->
    <select id="getListGreaterThanSortId" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuStore"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbu_store
        <where>
            <if test="ecCompanyId != null">
                AND ec_company_id=#{ecCompanyId}
            </if>
            <if test="sortId != null">
                AND <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
    </select>

    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuStore" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbu_store
        <where>
            <if test="ecbusId != null">
                and ecbus_id = #{ecbusId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="storeName != null">
                and store_name = #{storeName,jdbcType=VARCHAR}
            </if>
            <if test="defaultType != null">
                and default_type = #{defaultType,jdbcType=BIT}
            </if>
        </where>
    </select>


    <!-- getObjectPassStoreName -->
    <select id="getObjectPassStoreName" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuStore"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbu_store
        <where>
            <if test="ecbusId != null and ecbusId != null">
                and <![CDATA[ecbus_id != #{ecbusId,jdbcType=INTEGER}]]>
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="storeName != null">
                and store_name = #{storeName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--insert-->
    <insert id="insert" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuStore">
        insert into ecbu_store (ecbus_id, ec_company_id, sort_id,
                                start_type, default_type, store_name,
                                percent_copper, percent_aluminium, dunit_money,
                                description)
        values (#{ecbusId,jdbcType=INTEGER}, #{ecCompanyId,jdbcType=INTEGER}, #{sortId,jdbcType=INTEGER},
                #{startType,jdbcType=BIT}, #{defaultType,jdbcType=BIT}, #{storeName,jdbcType=VARCHAR},
                #{percentCopper,jdbcType=DECIMAL}, #{percentAluminium,jdbcType=DECIMAL}, #{dunitMoney,jdbcType=DECIMAL},
                #{description,jdbcType=VARCHAR})
    </insert>

    <!--update-->
    <update id="update" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuStore">
        update ecbu_store
        <set>
            <if test="ecCompanyId != null">
                ec_company_id = #{ecCompanyId,jdbcType=INTEGER},
            </if>
            <if test="sortId != null">
                sort_id = #{sortId,jdbcType=INTEGER},
            </if>
            <if test="startType != null">
                start_type = #{startType,jdbcType=BIT},
            </if>
            <if test="defaultType != null">
                default_type = #{defaultType,jdbcType=BIT},
            </if>
            <if test="storeName != null">
                store_name = #{storeName,jdbcType=VARCHAR},
            </if>
            <if test="percentCopper != null">
                percent_copper = #{percentCopper,jdbcType=DECIMAL},
            </if>
            <if test="percentAluminium != null">
                percent_aluminium = #{percentAluminium,jdbcType=DECIMAL},
            </if>
            <if test="dunitMoney != null">
                dunit_money = #{dunitMoney,jdbcType=DECIMAL},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="ecbusId != null">
                and ecbus_id = #{ecbusId,jdbcType=INTEGER}
            </if>
            <if test="ecbusId == null and storeName != null">
                and store_name = #{storeName,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!-- getLatestObject -->
    <select id="getLatestObject" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbu_store
        where ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
        order by sort_id desc
        limit 1
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete
        from ecbu_store
        <where>
            <if test="ecbusId != null">
                and ecbus_id = #{ecbusId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>

    <!-- updateNotDefaultPassEcCompanyId -->
    <update id="updateNotDefaultPassEcCompanyId" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuStore">
        update ecbu_store
        <set>
            default_type = false
        </set>
        <where>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
    </update>


</mapper>


