<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userCommon.EcbuPcompanyDao">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userCommon.EcbuPcompany">
        <id column="ecbup_id" jdbcType="INTEGER" property="ecbupId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="platform_id" jdbcType="INTEGER" property="platformId"/>
        <result column="pc_name" jdbcType="VARCHAR" property="pcName"/>
        <result column="pc_percent" jdbcType="DECIMAL" property="pcPercent"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <sql id="Base_Column_List">
        ecbup_id
        , ec_company_id, start_type, sort_id, platform_id, pc_name, pc_percent, description
    </sql>

    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuPcompany" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbu_pcompany
        <where>
            <if test="startType!=null">
                AND start_type=#{startType}
            </if>
            <if test="ecCompanyId!=null">
                AND ec_company_id=#{ecCompanyId}
            </if>
        </where>
        order by sort_id asc
    </select>

    <!--getCount-->
    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuPcompany" resultType="java.lang.Long">
        select count(*) from ecbu_pcompany
        <where>
            <if test="startType!=null">
                AND start_type=#{startType}
            </if>
            <if test="ecCompanyId!=null">
                AND ec_company_id=#{ecCompanyId}
            </if>
        </where>
    </select>

    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuPcompany" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbu_pcompany
        <where>
            <if test="ecbupId != null">
                and ecbup_id = #{ecbupId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="platformId != null">
                and platform_id = #{platformId,jdbcType=INTEGER}
            </if>
            <if test="pcName != null">
                and pc_name = #{pcName,jdbcType=VARCHAR}
            </if>
            <if test="sortId != null">
                and sort_id = #{sortId,jdbcType=INTEGER}
            </if>
        </where>
        limit 1
    </select>

    <!--insert-->
    <insert id="insert" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuPcompany">
        insert into ecbu_pcompany (ecbup_id, ec_company_id, start_type,
                                   sort_id, platform_id, pc_name,
                                   pc_percent, description)
        values (#{ecbupId,jdbcType=INTEGER}, #{ecCompanyId,jdbcType=INTEGER}, #{startType,jdbcType=BIT},
                #{sortId,jdbcType=INTEGER}, #{platformId,jdbcType=INTEGER}, #{pcName,jdbcType=VARCHAR},
                #{pcPercent,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR})
    </insert>

    <!-- getListGreaterThanSortId -->
    <select id="getListGreaterThanSortId" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuPcompany"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbu_pcompany
        <where>
            <if test="ecCompanyId != null">
                AND ec_company_id=#{ecCompanyId}
            </if>
            <if test="sortId != null">
                AND <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
    </select>

    <!-- delete -->
    <delete id="delete" parameterType="java.lang.Integer">
        delete
        from ecbu_pcompany
        <where>
            <if test="ecbupId != null">
                and ecbup_id = #{ecbupId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>

    <update id="update" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuPcompany">
        update ecbu_pcompany
        <set>
            <if test="ecCompanyId != null">
                ec_company_id = #{ecCompanyId,jdbcType=INTEGER},
            </if>
            <if test="startType != null">
                start_type = #{startType,jdbcType=BIT},
            </if>
            <if test="sortId != null">
                sort_id = #{sortId,jdbcType=INTEGER},
            </if>
            <if test="platformId != null">
                platform_id = #{platformId,jdbcType=INTEGER},
            </if>
            <if test="pcName != null">
                pc_name = #{pcName,jdbcType=VARCHAR},
            </if>

            <if test="pcPercent != null">
                pc_percent = #{pcPercent,jdbcType=DECIMAL},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="ecbupId != null">
                and ecbup_id = #{ecbupId,jdbcType=INTEGER}
            </if>
        </where>
    </update>

    <!-- getObjectPassPcName -->
    <select id="getObjectPassPcName" parameterType="org.jeecg.modules.cable.entity.userCommon.EcbuPcompany"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbu_pcompany
        <where>
            <if test="ecbupId != null">
                and <![CDATA[ecbup_id != #{ecbupId,jdbcType=INTEGER}]]>
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="platformId != null">
                and platform_id = #{platformId,jdbcType=INTEGER}
            </if>
            <if test="pcName != null">
                and pc_name = #{pcName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!-- getLatestObject -->
    <select id="getLatestObject" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbu_pcompany
        <where>
            <if test="ecCompanyId != null">
                AND ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
        order by sort_id desc
        limit 1
    </select>


</mapper>


