<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userCommon.EcduTaxpointDao">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userCommon.EcduTaxpoint">
        <id column="ecdut_id" jdbcType="INTEGER" property="ecdutId"/>
        <result column="ecdt_id" jdbcType="INTEGER" property="ecdtId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="percent_common" jdbcType="DECIMAL" property="percentCommon"/>
        <result column="percent_special" jdbcType="DECIMAL" property="percentSpecial"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <sql id="Base_Column_List">
        ecdut_id
        , ecdt_id, ec_company_id, start_type, name, percent_common, percent_special,
    description
    </sql>

    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userCommon.EcduTaxpoint" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecdu_taxpoint
        <where>
            <if test="startType != null">
                AND start_type=#{startType}
            </if>
            <if test="ecCompanyId!=null">
                AND ec_company_id=#{ecCompanyId}
            </if>
        </where>
    </select>

    <!--getCount-->
    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.userCommon.EcduTaxpoint" resultType="java.lang.Long">
        select count(*) from ecdu_taxpoint
        <where>
            <if test="startType!=null">
                AND start_type=#{startType}
            </if>
            <if test="ecCompanyId!=null">
                AND ec_company_id=#{ecCompanyId}
            </if>
        </where>
    </select>

    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userCommon.EcduTaxpoint" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecdu_taxpoint
        <where>
            <if test="ecdutId != null">
                and ecdut_id = #{ecdutId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
            <if test="startType != null">
                and start_type = #{startType,jdbcType=BIT}
            </if>
            <if test="ecdtId != null">
                and ecdt_id = #{ecdtId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--insert-->
    <insert id="insert" parameterType="org.jeecg.modules.cable.entity.userCommon.EcduTaxpoint">
        insert into ecdu_taxpoint (ecdut_id, ecdt_id, ec_company_id,
                                   start_type, name, percent_common,
                                   percent_special, description)
        values (#{ecdutId,jdbcType=INTEGER}, #{ecdtId,jdbcType=INTEGER}, #{ecCompanyId,jdbcType=INTEGER},
                #{startType,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, #{percentCommon,jdbcType=DECIMAL},
                #{percentSpecial,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.jeecg.modules.cable.entity.userCommon.EcduTaxpoint">
        update ecdu_taxpoint
        <set>
            <if test="ecdtId != null">
                ecdt_id = #{ecdtId,jdbcType=INTEGER},
            </if>
            <if test="ecCompanyId != null">
                ec_company_id = #{ecCompanyId,jdbcType=INTEGER},
            </if>
            <if test="startType != null">
                start_type = #{startType,jdbcType=BIT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="percentCommon != null">
                percent_common = #{percentCommon,jdbcType=DECIMAL},
            </if>
            <if test="percentSpecial != null">
                percent_special = #{percentSpecial,jdbcType=DECIMAL},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        where ecdut_id = #{ecdutId,jdbcType=INTEGER}
    </update>

    <!--deletePassEcCompanyIdAndEcdtId-->
    <delete id="deletePassEcCompanyIdAndEcdtId" parameterType="org.jeecg.modules.cable.entity.userCommon.EcduTaxpoint">
        delete from ecdu_taxpoint
        <where>
            <if test="ecdtId != null">
                and ecdt_id = #{ecdtId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>


</mapper>


