<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userCommon.EcducImagesMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userCommon.EcducImages">
        <id column="ecduci_id" jdbcType="INTEGER" property="ecduciId"/>
        <result column="ecduc_id" jdbcType="INTEGER" property="ecducId"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="add_time" jdbcType="BIGINT" property="addTime"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.userCommon.EcducImages">
        <id column="ecduci_id" jdbcType="INTEGER" property="ecduciId"/>
        <result column="ecduc_id" jdbcType="INTEGER" property="ecducId"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="add_time" jdbcType="BIGINT" property="addTime"/>
        <!--多图-->
        <association property="ecduciPosition" javaType="org.jeecg.modules.cable.entity.userCommon.EcduciPosition">
            <result column="p_x" property="pX"/>
            <result column="p_y" property="pY"/>
            <result column="image_percent" property="imagePercent"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        ecduci_id
        , ecduc_id, image_url, add_time
    </sql>
    <sql id="With_List">
        ecduci
        .
        ecduci_id
        , ecduci.ecduc_id, ecduci.image_url, ecduci.add_time, ecducip.p_x, ecducip.p_y, ecducip.image_percent
    </sql>

    <insert id="insert"
            parameterType="org.jeecg.modules.cable.entity.userCommon.EcducImages">
        insert into ecduc_images (ecduci_id, ecduc_id, image_url, add_time)
        values (#{ecduciId,jdbcType=INTEGER}, #{ecducId,jdbcType=INTEGER}, #{imageUrl,jdbcType=VARCHAR},
                #{addTime,jdbcType=BIGINT})
    </insert>

    <select id="getList"
            parameterType="org.jeecg.modules.cable.entity.userCommon.EcducImages"
            resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecduc_images as ecduci
        left join ecduci_position as ecducip on ecduci.ecduci_id=ecducip.ecduci_id
        <where>
            <if test="ecducId != null">
                and ecduci.ecduc_id = #{ecducId,jdbcType=INTEGER}
            </if>
        </where>
        order by ecduci.add_time desc
    </select>

    <select id="getObject"
            parameterType="org.jeecg.modules.cable.entity.userCommon.EcducImages"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecduc_images
        <where>
            <if test="ecducId != null">
                and ecduc_id = #{ecducId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <delete id="delete" parameterType="org.jeecg.modules.cable.entity.userCommon.EcducImages">
        delete
        from ecduc_images
        <where>
            <if test="ecduciId != null">
                and ecduci_id = #{ecduciId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>

</mapper>


