<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userCommon.EcBankMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userCommon.EcBank">
        <id column="ecbua_id" jdbcType="INTEGER" property="ecbuaId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="axle_name" jdbcType="VARCHAR" property="axleName"/>
        <result column="axle_height" jdbcType="DECIMAL" property="axleHeight"/>
        <result column="circle_diameter" jdbcType="DECIMAL" property="circleDiameter"/>
        <result column="axle_width" jdbcType="DECIMAL" property="axleWidth"/>
        <result column="axle_deep" jdbcType="DECIMAL" property="axleDeep"/>
        <result column="axle_weight" jdbcType="DECIMAL" property="axleWeight"/>
        <result column="axle_price" jdbcType="DECIMAL" property="axlePrice"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <sql id="Base_Column_List">
        ecb_id
        , start_type, sort_id, wechat_code, alipay_code, bank_name, description, add_time,
    update_time
    </sql>


    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userCommon.EcBank" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ec_bank
        <where>
            <if test="bankName != null">
                and bank_name = #{bankName,jdbcType=INTEGER}
            </if>
        </where>
    </select>


</mapper>


