<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userCommon.EcdTaxPointMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.systemEcable.EcdTaxPoint">
        <id column="ecdt_id" jdbcType="INTEGER" property="ecdtId"/>
        <result column="eca_id" jdbcType="INTEGER" property="ecaId"/>
        <result column="eca_name" jdbcType="VARCHAR" property="ecaName"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="point_name" jdbcType="VARCHAR" property="pointName"/>
        <result column="percent_common" jdbcType="DECIMAL" property="percentCommon"/>
        <result column="percent_special" jdbcType="DECIMAL" property="percentSpecial"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <sql id="Base_Column_List">
        ecdt_id
        , eca_id, eca_name, start_type, sort_id, point_name, percent_common, percent_special,
    description, add_time, update_time
    </sql>

    <!--getCount-->
    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcdTaxPoint"
            resultType="java.lang.Long">
        select count(*) from ecd_tax_point
        <where>
            <if test="startType!=null">
                AND start_type=#{startType}
            </if>
        </where>
    </select>

    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcdTaxPoint"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecd_tax_point
        <where>
            <if test="ecdtId != null">
                and ecdt_id = #{ecdtId,jdbcType=INTEGER}
            </if>
        </where>
        order by sort_id desc limit 1
    </select>


</mapper>


