<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userCommon.EctImagesMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userCommon.EctImages">
        <id column="ecti_id" jdbcType="INTEGER" property="ectiId"/>
        <result column="type_id" jdbcType="INTEGER" property="typeId"/>
        <result column="ecu_id" jdbcType="INTEGER" property="ecuId"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="add_time" jdbcType="BIGINT" property="addTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        ecti_id
        , type_id, ecu_id, image_url, add_time
    </sql>

    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userCommon.EctImages" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ect_images
        <where>
            <if test="typeId != null">
                and type_id=#{typeId,jdbcType=INTEGER}
            </if>
            <if test="ecuId != null">
                and ecu_id = #{ecuId,jdbcType=INTEGER}
            </if>
            <if test="addTime != null">
                <![CDATA[and add_time > #{addTime,jdbcType=INTEGER}]]>
            </if>
        </where>
        limit 1
    </select>

    <!-- delete -->
    <delete id="deleteRecord" parameterType="org.jeecg.modules.cable.entity.userCommon.EcduCompany">
        delete from ect_images
        <where>
            <if test="typeId != null">
                and type_id = #{typeId,jdbcType=INTEGER}
            </if>
            <if test="ecuId != null">
                and ecu_id = #{ecuId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>


</mapper>


