<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userOffer.EcuoCoreMapper">

    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userOffer.EcuoCore">
        <id column="ecuoc_id" jdbcType="INTEGER" property="ecuocId"/>
        <result column="ecqul_id" jdbcType="INTEGER" property="ecqulId"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="core_str" jdbcType="VARCHAR" property="coreStr"/>

    </resultMap>

    <sql id="Base_Column_List">
        ecuoc_id, ecqul_id, sort_id, core_str
    </sql>

    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userOffer.EcuoCore" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecuo_core
        <where>
            <if test="ecqulId != null">
                and ecqul_id = #{ecqulId,jdbcType=INTEGER}
            </if>
        </where>
        order by sort_id asc
    </select>

    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userOffer.EcuOffer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecuo_core
        <where>
            <if test="ecqulId != null">
                and ecqul_id = #{ecqulId,jdbcType=INTEGER}
            </if>
            <if test="coreStr != null">
                and core_str = #{coreStr,jdbcType=VARCHAR}
            </if>
        </where>
        order by sort_id desc limit 1
    </select>




</mapper>


