<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.price.EcuqInputMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.price.EcuqInput">
        <id column="ecuqi_id" jdbcType="INTEGER" property="ecuqiId"/>
        <result column="ecuq_id" jdbcType="INTEGER" property="ecuqId"/>
        <result column="ecqul_id" jdbcType="INTEGER" property="ecqulId"/>
        <result column="ecbus_id" jdbcType="INTEGER" property="ecbusId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="silk_name" jdbcType="VARCHAR" property="silkName"/>
        <result column="ecusm_id" jdbcType="INTEGER" property="ecusmId"/>
        <result column="silk_name_as" jdbcType="VARCHAR" property="silkNameAs"/>
        <result column="silk_name_input" jdbcType="BIT" property="silkNameInput"/>
        <result column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="area_str_as" jdbcType="VARCHAR" property="areaStrAs"/>
        <result column="area_str_input" jdbcType="VARCHAR" property="areaStrInput"/>
        <result column="sale_number" jdbcType="INTEGER" property="saleNumber"/>
        <result column="ecbulu_id" jdbcType="INTEGER" property="ecbuluId"/>
        <result column="profit" jdbcType="DECIMAL" property="profit"/>
        <result column="profit_input" jdbcType="BIT" property="profitInput"/>
        <result column="bill_percent" jdbcType="DECIMAL" property="billPercent"/>
        <result column="item_desc" jdbcType="VARCHAR" property="itemDesc"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.price.EcuqInput">
        <id column="ecuqi_id" jdbcType="INTEGER" property="ecuqiId"/>
        <result column="ecuq_id" jdbcType="INTEGER" property="ecuqId"/>
        <result column="ecqul_id" jdbcType="INTEGER" property="ecqulId"/>
        <result column="ecbus_id" jdbcType="INTEGER" property="ecbusId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="silk_name" jdbcType="VARCHAR" property="silkName"/>
        <result column="ecusm_id" jdbcType="INTEGER" property="ecusmId"/>
        <result column="silk_name_as" jdbcType="VARCHAR" property="silkNameAs"/>
        <result column="silk_name_input" jdbcType="VARCHAR" property="silkNameInput"/>
        <result column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="area_str_as" jdbcType="VARCHAR" property="areaStrAs"/>
        <result column="area_str_input" jdbcType="VARCHAR" property="areaStrInput"/>
        <result column="sale_number" jdbcType="INTEGER" property="saleNumber"/>
        <result column="ecbulu_id" jdbcType="INTEGER" property="ecbuluId"/>
        <result column="profit" jdbcType="DECIMAL" property="profit"/>
        <result column="profit_input" jdbcType="BIT" property="profitInput"/>
        <result column="bill_percent" jdbcType="DECIMAL" property="billPercent"/>
        <result column="item_desc" jdbcType="VARCHAR" property="itemDesc"/>
        <!-- 仓库 -->
        <association property="ecbuStore" javaType="org.jeecg.modules.cable.entity.userCommon.EcbuStore">
            <result column="store_name" property="storeName"/>
        </association>
        <!-- 丝类型 -->
        <association property="ecuSilk" javaType="org.jeecg.modules.cable.entity.userEcable.EcuSilk">
            <result column="ecus_abbreviation" property="abbreviation"/>
        </association>
        <!-- 质量等级 -->
        <association property="ecquLevel" javaType="org.jeecg.modules.cable.entity.quality.EcquLevel">
            <result column="name" property="name"/>
        </association>
    </resultMap>


    <sql id="With_List">
        select ecuqi.*,
               ecbustore.store_name,
               ecqul.name,
               ecus.abbreviation as ecus_abbreviation
        from ecuq_input as ecuqi
                 left join ecbu_store as ecbustore on ecuqi.ecbus_id = ecbustore.ecbus_id
                 left join ecqu_level as ecqul on ecuqi.ecqul_id = ecqul.ecqul_id
                 left join ecu_silk as ecus on ecqul.ecs_id = ecus.ecus_id
    </sql>

    <select id="getList" parameterType="org.jeecg.modules.cable.entity.price.EcuqInput" resultMap="UnionResultMap">
        <include refid="With_List"/>
        <where>
            <if test="startType!=null">
                and ecuqi.start_type=#{startType,jdbcType=BIT}
            </if>
            <if test="ecuqId!=null">
                and ecuqi.ecuq_id=#{ecuqId,jdbcType=INTEGER}
            </if>
        </where>
        order by ecuqi.sort_id asc
    </select>

    <!--getCount-->
    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.price.EcuqInput" resultType="java.lang.Long">
        select count(*) from ecuq_input
        <where>
            <if test="startType!=null">
                and ecuqi.start_type=#{startType,jdbcType=BIT}
            </if>
            <if test="ecuqId!=null">
                and ecuqi.ecuq_id=#{ecuqId,jdbcType=INTEGER}
            </if>
            <if test="ecbusId!=null">
                and ecuqi.ecbus_id=#{ecbusId,jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <!-- getListGreaterThanSortId -->
    <select id="getListGreaterThanSortId" parameterType="org.jeecg.modules.cable.entity.price.EcuqInput"
            resultMap="BaseResultMap">
        select
        *
        from ecuq_input
        <where>
            <if test="ecuqId != null">
                and ecuq_id=#{ecuqId}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
    </select>


    <!-- getLatestObject -->
    <select id="getLatestObject" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from ecuq_input
        <where>
            <if test="ecuqId != null">
                AND ecuq_id = #{ecuqId,jdbcType=INTEGER}
            </if>
        </where>
        order by sort_id desc
        limit 1
    </select>


    <update id="reduceSort">
        update ecuq_input
        set sort_id = sort_id - 1
        where ecuq_id = #{ecuqId}
          and sort_id > #{sortId}
    </update>


</mapper>


