<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.price.EcuqDescMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.price.EcuqDesc">
        <id column="ecuqd_id" jdbcType="INTEGER" property="ecuqdId"/>
        <result column="ecuq_id" jdbcType="INTEGER" property="ecuqId"/>
        <result column="ecuo_id" jdbcType="INTEGER" property="ecuoId"/>
        <result column="ecuqi_id" jdbcType="INTEGER" property="ecuqiId"/>
        <result column="ecqul_id" jdbcType="INTEGER" property="ecqulId"/>
        <result column="store_id" jdbcType="INTEGER" property="storeId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="cunit_price" jdbcType="DECIMAL" property="cunitPrice"/>
        <result column="cweight" jdbcType="DECIMAL" property="cweight"/>
        <result column="store_percent" jdbcType="DECIMAL" property="storePercent"/>
        <result column="sdunit_money" jdbcType="DECIMAL" property="sdunitMoney"/>
        <result column="area_str" jdbcType="VARCHAR" property="areaStr"/>
        <result column="add_percent" jdbcType="DECIMAL" property="addPercent"/>
        <result column="input_start" jdbcType="BIT" property="inputStart"/>
        <result column="nbups_money" jdbcType="DECIMAL" property="nbupsMoney"/>
        <result column="bups_money" jdbcType="DECIMAL" property="bupsMoney"/>
        <result column="nbupc_money" jdbcType="DECIMAL" property="nbupcMoney"/>
        <result column="bupc_money" jdbcType="DECIMAL" property="bupcMoney"/>
        <result column="weight" jdbcType="DECIMAL" property="weight"/>
        <result column="unit_price_input" jdbcType="BIT" property="unitPriceInput"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="unit_weight" jdbcType="DECIMAL" property="unitWeight"/>
        <result column="ecbua_id" jdbcType="INTEGER" property="ecbuaId"/>
        <result column="axle_number" jdbcType="INTEGER" property="axleNumber"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="material" jdbcType="VARCHAR" property="material"/>
    </resultMap>


    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.price.EcuqDesc" resultMap="BaseResultMap">
        select
        *
        from ecuq_desc
        <where>
            <if test="ecuqiId!=null">
                and ecuqi_id=#{ecuqiId,jdbcType=INTEGER}
            </if>
            <if test="ecuqId != null">
                and ecuq_id = #{ecuqId,jdbcType=INTEGER}
            </if>
        </where>
        limit 1
    </select>

    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.price.EcuqDesc" resultMap="BaseResultMap">
        select
        *
        from ecuq_desc
        <where>
            <if test="ecuqId != null">
                and ecuq_id = #{ecuqId,jdbcType=INTEGER}
            </if>
        </where>
        limit 1
    </select>


    <select id="getMaterialIdList" resultType="java.lang.Integer">
        SELECT JSON_EXTRACT(material, '$.conductor.id')
        FROM ecuq_desc
        union
        SELECT JSON_EXTRACT(material, '$.infilling.id')
        FROM ecuq_desc
        union
        SELECT items_table.id AS item_id
        FROM ecuq_desc,
             JSON_TABLE(material -> '$.externals', '$[*]' COLUMNS (id INT PATH '$.id')) AS items_table
        union
        SELECT items_table.id AS item_id
        FROM ecuq_desc,
             JSON_TABLE(material -> '$.internals', '$[*]' COLUMNS ( id INT PATH '$.id' )) AS items_table
    </select>

    <!-- deletePassEcuqiId -->
    <delete id="deletePassEcuqiId" parameterType="java.lang.Integer">
        delete from ecuq_desc
        <where>
            <if test="ecuqiId != null">
                and ecuqi_id = #{ecuqiId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>

    <!--update-->
    <update id="updateRecord" parameterType="org.jeecg.modules.cable.entity.price.EcuqDesc">
        update ecuq_desc
        <set>
            <if test="ecuqId != null">
                ecuq_id = #{ecuqId,jdbcType=INTEGER},
            </if>
            <if test="ecuoId != null">
                ecuo_id = #{ecuoId,jdbcType=INTEGER},
            </if>
            <if test="ecuqiId != null">
                ecuqi_id = #{ecuqiId,jdbcType=INTEGER},
            </if>
            <if test="ecqulId != null">
                ecqul_id = #{ecqulId,jdbcType=INTEGER},
            </if>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=INTEGER},
            </if>
            <if test="startType != null">
                start_type = #{startType,jdbcType=BIT},
            </if>
            <if test="sortId != null">
                sort_id = #{sortId,jdbcType=INTEGER},
            </if>
            <if test="cunitPrice != null">
                cunit_price = #{cunitPrice,jdbcType=DECIMAL},
            </if>
            <if test="cweight != null">
                cweight = #{cweight,jdbcType=DECIMAL},
            </if>
            <if test="storePercent != null">
                store_percent = #{storePercent,jdbcType=DECIMAL},
            </if>
            <if test="sdunitMoney != null">
                sdunit_money = #{sdunitMoney,jdbcType=DECIMAL},
            </if>
            <if test="areaStr != null">
                area_str = #{areaStr,jdbcType=VARCHAR},
            </if>
            <if test="addPercent != null">
                add_percent = #{addPercent,jdbcType=DECIMAL},
            </if>
            <if test="material != null and material !=''">
                material = #{material,jdbcType=VARCHAR},
            </if>
            <if test="inputStart != null">
                input_start = #{inputStart,jdbcType=BIT},
            </if>
            <if test="nbupsMoney != null">
                nbups_money = #{nbupsMoney,jdbcType=DECIMAL},
            </if>
            <if test="bupsMoney != null">
                bups_money = #{bupsMoney,jdbcType=DECIMAL},
            </if>
            <if test="nbupcMoney != null">
                nbupc_money = #{nbupcMoney,jdbcType=DECIMAL},
            </if>
            <if test="bupcMoney != null">
                bupc_money = #{bupcMoney,jdbcType=DECIMAL},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=DECIMAL},
            </if>
            <if test="unitPriceInput != null">
                unit_price_input = #{unitPriceInput,jdbcType=BIT},
            </if>
            <if test="unitPrice != null">
                unit_price = #{unitPrice,jdbcType=DECIMAL},
            </if>
            <if test="unitWeight != null">
                unit_weight = #{unitWeight,jdbcType=DECIMAL},
            </if>
            <if test="ecbuaId != null">
                ecbua_id = #{ecbuaId,jdbcType=INTEGER},
            </if>
            <if test="axleNumber != null">
                axle_number = #{axleNumber,jdbcType=INTEGER},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>

        <where>
            <if test="ecuqdId != null">
                and ecuqd_id = #{ecuqdId,jdbcType=INTEGER}
            </if>
            <if test="ecuqiId != null">
                and ecuqi_id = #{ecuqiId,jdbcType=INTEGER}
            </if>
        </where>
    </update>


</mapper>


