<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userEcable.EcbuInsulationMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userEcable.EcbuInsulation">
        <id column="ecbui_id" jdbcType="INTEGER" property="ecbuiId"/>
        <result column="ecbi_id" jdbcType="INTEGER" property="ecbiId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="density" jdbcType="DECIMAL" property="density"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.userEcable.EcbuInsulation">
        <id column="ecbui_id" jdbcType="INTEGER" property="ecbuiId"/>
        <result column="ecbi_id" jdbcType="INTEGER" property="ecbiId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="density" jdbcType="DECIMAL" property="density"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <association property="ecbInsulation" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbInsulation">
            <result column="abbreviation" property="abbreviation"/>
            <result column="full_name" property="fullName"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        ecbui_id
        , ecbi_id, ec_company_id, start_type, name, unit_price, density, description
    </sql>

    <!-- With_List -->
    <sql id="With_List">
        ecbui
        .
        ecbui_id
        , ecbui.ecbi_id, ecbui.ec_company_id, ecbui.start_type, ecbui.name, ecbui.unit_price, ecbui.density,
   	ecbui.description,
   	ecbi.abbreviation,
   	ecbi.full_name
    </sql>
    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuInsulation"
            resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecbu_insulation as ecbui
        left join ecb_insulation as ecbi on ecbui.ecbi_id=ecbi.ecbi_id
        <where>
            <if test="startType!=null">
                AND ecbui.start_type=#{startType}
            </if>
            <if test="ecCompanyId!=null">
                AND ecbui.ec_company_id=#{ecCompanyId}
            </if>
            <if test="ecbiId!=null">
                AND ecbui.ecbi_id=#{ecbiId}
            </if>
        </where>
        order by ecbi.sort_id asc
    </select>

    <!--getObject-->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuInsulation"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbu_insulation
        <where>
            <if test="ecbuiId != null">
                and ecbui_id = #{ecbuiId,jdbcType=INTEGER}
            </if>
            <if test="ecbiId != null">
                and ecbi_id = #{ecbiId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
        limit 1
    </select>

    <!-- delete -->
    <delete id="deleteByEcCompanyId" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuInsulation">
        delete from ecbu_insulation
        <where>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>


</mapper>


