<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userEcable.EcbuShieldMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userEcable.EcbuShield">
        <id column="ecbus_id" jdbcType="INTEGER" property="ecbusId"/>
        <result column="ecbs_id" jdbcType="INTEGER" property="ecbsId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="density" jdbcType="DECIMAL" property="density"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.userEcable.EcbuShield">
        <id column="ecbus_id" jdbcType="INTEGER" property="ecbusId"/>
        <result column="ecbs_id" jdbcType="INTEGER" property="ecbsId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="density" jdbcType="DECIMAL" property="density"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <association property="ecbShield" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbShield">
            <result column="abbreviation" property="abbreviation"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        ecbus_id
        , ecbs_id, ec_company_id, start_type, name, unit_price, density, description
    </sql>

    <!-- With_List -->
    <sql id="With_List">
        ecbus
        .
        ecbus_id
        , ecbus.ecbs_id, ecbus.ec_company_id, ecbus.start_type, ecbus.name, ecbus.unit_price, ecbus.density,
   	ecbus.description,
   	ecbs.abbreviation
    </sql>
    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuShield" resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecbu_shield as ecbus
        left join ecb_shield as ecbs on ecbus.ecbs_id=ecbs.ecbs_id
        <where>
            <if test="startType!=null">
                AND ecbus.start_type=#{startType}
            </if>
            <if test="ecCompanyId!=null">
                AND ecbus.ec_company_id=#{ecCompanyId}
            </if>
        </where>
        order by ecbs.sort_id asc
    </select>

    <!--getObject-->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuShield" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbu_shield
        <where>
            <if test="ecbusId != null">
                and ecbus_id = #{ecbusId,jdbcType=INTEGER}
            </if>
            <if test="ecbsId != null">
                and ecbs_id = #{ecbsId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
        limit 1
    </select>

    <!--update-->
    <update id="update" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuShield">
        update ecbu_shield
        <set>
            <if test="startType != null">
                start_type = #{startType,jdbcType=BIT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="unitPrice != null">
                unit_price = #{unitPrice,jdbcType=DECIMAL},
            </if>
            <if test="density != null">
                density = #{density,jdbcType=DECIMAL},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="ecbusId != null">
                and ecbus_id = #{ecbusId,jdbcType=INTEGER}
            </if>
            <if test="ecbsId != null">
                and ecbs_id = #{ecbsId,jdbcType=INTEGER}
            </if>
        </where>
    </update>

    <!-- delete -->
    <delete id="delete" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuShield">
        delete from ecbu_shield
        <where>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>

</mapper>


