<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userEcable.EcbuMaterialTypeMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userEcable.EcbuMaterialType">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="material_type" jdbcType="INTEGER" property="materialType"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <delete id="deleteByEcCompanyId">
        delete from ecbu_material_type where ec_company_id = #{ecCompanyId}
    </delete>


    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuMaterialType"
            resultMap="BaseResultMap">
        select
        *
        from ecbu_material_type as ecbb
        <where>
            <if test="startType!=null">
                AND ecbb.start_type=#{startType}
            </if>
        </where>
        order by ecbb.sort_id asc
    </select>

    <!--getCount-->
    <select id="getCount" resultType="java.lang.Long">
        select count(*) from ecbu_material_type
        <where>
            AND start_type=true
        </where>
    </select>


    <!-- getListStart -->
    <select id="getListStart" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuMaterialType"
            resultMap="BaseResultMap">
        select
        *
        from ecbu_material_type
        <where>
            <if test="startType!=null">
                and start_type=#{startType}
            </if>
        </where>
    </select>

    <select id="getObject" resultType="org.jeecg.modules.cable.entity.userEcable.EcbuMaterialType">
        select
        *
        from ecbu_material_type
        <where>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId}
            </if>
            <if test="materialType != null">
                and material_type = #{materialType}
            </if>
            <if test="fullName != null and fullName!=''">
                <if test="id == null">
                    and full_name = #{fullName,jdbcType=VARCHAR}
                </if>
                <if test="id != null">
                    and id != #{id,jdbcType=INTEGER}
                    and full_name = #{fullName,jdbcType=VARCHAR}
                </if>
            </if>
        </where>
        order by sort_id desc limit 1
    </select>


    <select id="getSysList" resultType="org.jeecg.modules.cable.entity.userEcable.EcbuMaterialType">
        select
        *
        from ecbu_material_type
        <where>
            <if test="startType != null">
                and start_type = #{startType,jdbcType=BIT}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
        order by sort_id asc
    </select>


    <select id="getSysCount" resultType="java.lang.Long">
        select count(*) from ecbu_material_type
        <where>
            <if test="startType != null">
                and start_type = #{startType,jdbcType=BIT}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
    </select>


    <update id="reduceSort">
        update ecbu_material_type
        set sort_id = sort_id - 1
        where sort_id > #{sortId}
    </update>

</mapper>


