<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userEcable.EcbuMicaTapeMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userEcable.EcbuMicaTape">
        <id column="ecbum_id" jdbcType="INTEGER" property="ecbumId"/>
        <result column="ecbm_id" jdbcType="INTEGER" property="ecbmId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="density" jdbcType="DECIMAL" property="density"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.userEcable.EcbuMicaTape">
        <id column="ecbum_id" jdbcType="INTEGER" property="ecbumId"/>
        <result column="ecbm_id" jdbcType="INTEGER" property="ecbmId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="density" jdbcType="DECIMAL" property="density"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <association property="ecbMicatape" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbMicaTape">
            <result column="abbreviation" property="abbreviation"/>
            <result column="full_name" property="fullName"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        ecbum_id
        , ecbm_id, ec_company_id, start_type, name, unit_price, density, description
    </sql>

    <!-- With_List -->
    <sql id="With_List">
        ecbum
        .
        ecbum_id
        , ecbum.ecbm_id, ecbum.ec_company_id, ecbum.start_type, ecbum.name, ecbum.unit_price, ecbum.density,
    ecbum.description,
   	ecbm.abbreviation,
   	ecbm.full_name
    </sql>
    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuMicaTape"
            resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecbu_mica_tape as ecbum
        left join ecb_mica_tape as ecbm on ecbum.ecbm_id=ecbm.ecbm_id
        <where>
            <if test="startType!=null">
                AND ecbum.start_type=#{startType}
            </if>
            <if test="ecCompanyId!=null">
                AND ecbum.ec_company_id=#{ecCompanyId}
            </if>
            <if test="ecbmId!=null">
                AND ecbum.ecbm_id=#{ecbmId}
            </if>
        </where>
        order by ecbm.sort_id asc
    </select>

    <!--getObject-->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuMicaTape"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecbu_mica_tape
        <where>
            <if test="ecbumId != null">
                and ecbum_id = #{ecbumId,jdbcType=INTEGER}
            </if>
            <if test="ecbmId != null">
                and ecbm_id = #{ecbmId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!-- delete -->
    <delete id="deleteByCompanyId" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuMicaTape">
        delete from ecbu_mica_tape
        <where>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>


</mapper>


