<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userEcable.EcbuConductorMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userEcable.EcbuConductor">
        <id column="ecbuc_id" jdbcType="INTEGER" property="ecbucId"/>
        <result column="ecbc_id" jdbcType="INTEGER" property="ecbcId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="density" jdbcType="DECIMAL" property="density"/>
        <result column="resistivity" jdbcType="DECIMAL" property="resistivity"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.userEcable.EcbuConductor">
        <id column="ecbuc_id" jdbcType="INTEGER" property="ecbucId"/>
        <result column="ecbc_id" jdbcType="INTEGER" property="ecbcId"/>
        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="density" jdbcType="DECIMAL" property="density"/>
        <result column="resistivity" jdbcType="DECIMAL" property="resistivity"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <association property="ecbConductor" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbConductor">
            <result column="abbreviation" property="abbreviation"/>
        </association>
    </resultMap>

    <!-- With_List -->
    <sql id="With_List">
        ecbuc
        .
        ecbuc_id
        , ecbuc.ecbc_id, ecbuc.ec_company_id, ecbuc.start_type, ecbuc.name, ecbuc.unit_price,
    ecbuc.density,  ecbuc.resistivity, ecbuc.description,
   	ecbc.abbreviation
    </sql>
    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuConductor"
            resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecbu_conductor as ecbuc
        left join ecb_conductor as ecbc on ecbuc.ecbc_id=ecbc.ecbc_id
        <where>
            <if test="startType!=null">
                AND ecbuc.start_type=#{startType}
            </if>
            <if test="ecCompanyId!=null">
                AND ecbuc.ec_company_id=#{ecCompanyId}
            </if>
            <if test="ecbcId!=null">
                AND ecbuc.ecbc_id=#{ecbcId}
            </if>
        </where>
        order by ecbc.sort_id asc
    </select>

    <!--getObject-->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuConductor"
            resultMap="BaseResultMap">
        select * from ecbu_conductor
        <where>
            <if test="ecbucId != null">
                and ecbuc_id = #{ecbucId,jdbcType=INTEGER}
            </if>
            <if test="ecbcId != null">
                and ecbc_id = #{ecbcId,jdbcType=INTEGER}
            </if>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
        limit 1
    </select>

    <!-- delete -->
    <delete id="deleteByEcCompanyId" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuConductor">
        delete from ecbu_conductor
        <where>
            <if test="ecCompanyId != null">
                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>


</mapper>


