<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >-->

<!--<mapper namespace="org.jeecg.modules.cable.mapper.dao.userEcable.EcbuInfillingMapper">-->

<!--    &lt;!&ndash;column&ndash;&gt;-->
<!--    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userEcable.EcbuInfilling">-->
<!--        <id column="ecbui_id" jdbcType="INTEGER" property="ecbuiId"/>-->
<!--        <result column="ecbin_id" jdbcType="INTEGER" property="ecbinId"/>-->
<!--        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>-->
<!--        <result column="start_type" jdbcType="BIT" property="startType"/>-->
<!--        <result column="name" jdbcType="VARCHAR" property="name"/>-->
<!--        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>-->
<!--        <result column="density" jdbcType="DECIMAL" property="density"/>-->
<!--        <result column="description" jdbcType="VARCHAR" property="description"/>-->
<!--    </resultMap>-->

<!--    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.userEcable.EcbuInfilling">-->
<!--        <id column="ecbui_id" jdbcType="INTEGER" property="ecbuiId"/>-->
<!--        <result column="ecbin_id" jdbcType="INTEGER" property="ecbinId"/>-->
<!--        <result column="ec_company_id" jdbcType="INTEGER" property="ecCompanyId"/>-->
<!--        <result column="start_type" jdbcType="BIT" property="startType"/>-->
<!--        <result column="name" jdbcType="VARCHAR" property="name"/>-->
<!--        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>-->
<!--        <result column="density" jdbcType="DECIMAL" property="density"/>-->
<!--        <result column="description" jdbcType="VARCHAR" property="description"/>-->
<!--        <association property="ecbInfilling" javaType="org.jeecg.modules.cable.entity.systemEcable.EcbInfilling">-->
<!--            <result column="abbreviation" property="abbreviation"/>-->
<!--            <result column="full_name" property="fullName"/>-->
<!--        </association>-->
<!--    </resultMap>-->

<!--    <sql id="Base_Column_List">-->
<!--        ecbui_id-->
<!--        , ecbin_id, ec_company_id, start_type, name, unit_price, density, description-->
<!--    </sql>-->

<!--    &lt;!&ndash; With_List &ndash;&gt;-->
<!--    <sql id="With_List">-->
<!--        ecbui-->
<!--        .-->
<!--        ecbui_id-->
<!--        , ecbui.ecbin_id, ecbui.ec_company_id, ecbui.start_type, ecbui.name, ecbui.unit_price, ecbui.density,-->
<!--   	ecbui.description,-->
<!--   	ecbi.abbreviation,-->
<!--   	ecbi.full_name-->
<!--    </sql>-->
<!--    &lt;!&ndash; getList &ndash;&gt;-->
<!--    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuInfilling"-->
<!--            resultMap="UnionResultMap">-->
<!--        select-->
<!--        <include refid="With_List"/>-->
<!--        from ecbu_infilling as ecbui-->
<!--        left join ecb_infilling as ecbi on ecbui.ecbin_id=ecbi.ecbin_id-->
<!--        <where>-->
<!--            <if test="ecbuiId != null">-->
<!--                and ecbui_id = #{ecbuiId,jdbcType=INTEGER}-->
<!--            </if>-->
<!--            <if test="startType!=null">-->
<!--                and ecbui.start_type=#{startType}-->
<!--            </if>-->
<!--            <if test="ecCompanyId!=null">-->
<!--                and ecbui.ec_company_id=#{ecCompanyId}-->
<!--            </if>-->
<!--            <if test="ecbinId!=null">-->
<!--                and ecbui.ecbin_id=#{ecbinId}-->
<!--            </if>-->
<!--        </where>-->
<!--        order by ecbi.sort_id asc-->
<!--    </select>-->

<!--    &lt;!&ndash;getObject&ndash;&gt;-->
<!--    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuInfilling"-->
<!--            resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from ecbu_infilling-->
<!--        <where>-->
<!--            <if test="ecbuiId != null">-->
<!--                and ecbui_id = #{ecbuiId,jdbcType=INTEGER}-->
<!--            </if>-->
<!--            <if test="ecbinId != null">-->
<!--                and ecbin_id = #{ecbinId,jdbcType=INTEGER}-->
<!--            </if>-->
<!--            <if test="ecCompanyId != null">-->
<!--                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}-->
<!--            </if>-->
<!--        </where>-->
<!--        limit 1-->
<!--    </select>-->

<!--    &lt;!&ndash; delete &ndash;&gt;-->
<!--    <delete id="deleteByEcCompanyId" parameterType="org.jeecg.modules.cable.entity.userEcable.EcbuInfilling">-->
<!--        delete from ecbu_infilling-->
<!--        <where>-->
<!--            <if test="ecCompanyId != null">-->
<!--                and ec_company_id = #{ecCompanyId,jdbcType=INTEGER}-->
<!--            </if>-->
<!--        </where>-->
<!--    </delete>-->


<!--</mapper>-->


