<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.userEcable.EcuSilkMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.userEcable.EcuSilk">
        <id column="ecus_id" jdbcType="INTEGER" property="ecusId"/>
        <result column="ecu_id" jdbcType="INTEGER" property="ecuId"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>

        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        ecus_id
        , ecu_id, company_id, start_type, sort_id, abbreviation, full_name,description,
        add_time, update_time
    </sql>

    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.userEcable.EcuSilk" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecu_silk
        <where>
            <if test="startType!=null">
                AND start_type=#{startType}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
        order by sort_id asc
    </select>

    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.userEcable.EcuSilk"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecu_silk
        <where>
            <if test="ecusId != null">
                and ecus_id = #{ecusId,jdbcType=INTEGER}
            </if>
            <if test="abbreviation != null">
                and abbreviation = #{abbreviation,jdbcType=VARCHAR}
            </if>
        </where>
        order by sort_id asc limit 1
    </select>

    <select id="select" parameterType="org.jeecg.modules.cable.entity.userEcable.EcuSilk" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecu_silk
        <where>
            <if test="ecuSilk.companyId != null">
                and company_id = #{ecuSilk.companyId,jdbcType=INTEGER}
            </if>
            <if test="ecuSilk.ecusId != null">
                and ecus_id = #{ecuSilk.ecusId,jdbcType=INTEGER}
            </if>
            <if test="ecuSilk.abbreviation != null">
                and abbreviation = #{ecuSilk.abbreviation,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>


