<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.systemEcable.EcbBagMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.systemEcable.EcbBag">
        <id column="ecbb_id" jdbcType="INTEGER" property="ecbbId"/>
        <result column="eca_id" jdbcType="INTEGER" property="ecaId"/>
        <result column="eca_name" jdbcType="VARCHAR" property="ecaName"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="density" jdbcType="DECIMAL" property="density"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="add_time" jdbcType="BIGINT" property="addTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.systemEcable.EcbBag">
        <id column="ecbb_id" jdbcType="INTEGER" property="ecbbId"/>
        <result column="eca_id" jdbcType="INTEGER" property="ecaId"/>
        <result column="eca_name" jdbcType="VARCHAR" property="ecaName"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="density" jdbcType="DECIMAL" property="density"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="add_time" jdbcType="BIGINT" property="addTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <association property="ecbuBag" javaType="org.jeecg.modules.cable.entity.userEcable.EcbuBag">
            <result column="ecbub_id" property="ecbubId"/>
            <result column="u_start_type" property="startType"/>
            <result column="name" property="name"/>
            <result column="u_unit_price" property="unitPrice"/>
            <result column="u_density" property="density"/>
            <result column="u_description" property="description"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        ecbb_id
        , eca_id, eca_name, start_type, sort_id, abbreviation, full_name, unit_price,
    density, description, add_time, update_time
    </sql>

    <!-- With_List -->
    <sql id="With_List">
        ecbb
        .
        ecbb_id
        , ecbb.eca_id, ecbb.eca_name, ecbb.start_type, ecbb.sort_id, ecbb.abbreviation,
  	ecbb.full_name, ecbb.unit_price,
  	ecbub.ecbub_id,
    ecbb.density, ecbb.description, ecbb.add_time, ecbb.update_time,
   	ecbub.unit_price as u_unit_price, ecbub.density as u_density,
   	ecbub.name, ecbub.description as u_description, ecbub.start_type as u_start_type
    </sql>

    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbBag" resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecb_bag as ecbb
        left join ecbu_bag as ecbub on ecbb.ecbb_id=ecbub.ecbb_id and ecbub.ec_company_id=#{ecCompanyId}
        <where>
            <if test="startType!=null">
                AND ecbub.start_type=#{startType}
            </if>
            AND ecbb.start_type=true
        </where>
        order by ecbb.sort_id asc
    </select>

    <!--getCount-->
    <select id="getCount" resultType="java.lang.Long">
        select count(*) from ecb_bag
        <where>
            AND start_type=true
        </where>
    </select>


    <!-- getListStart -->
    <select id="getListStart" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbBag"
            resultMap="UnionResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecb_bag
        <where>
            <if test="startType!=null">
                and start_type=#{startType}
            </if>
        </where>
    </select>

    <select id="getSysObject" resultType="org.jeecg.modules.cable.entity.systemEcable.EcbBag">
        select
        <include refid="Base_Column_List"/>
        from ecb_bag
        <where>
            <if test="ecbbId != null and abbreviation == null and fullName == null">
                and ecbb_id = #{ecbbId,jdbcType=INTEGER}
            </if>
            <if test="abbreviation != null">
                and abbreviation = #{abbreviation,jdbcType=VARCHAR}
            </if>
            <if test="abbreviation != null and fullName != null">
                <if test="ecbbId == null">
                    and <![CDATA[(abbreviation = #{abbreviation,jdbcType=INTEGER}
                    or full_name = #{fullName,jdbcType=VARCHAR})]]>
                </if>
                <if test="ecbbId != null">
                    and <![CDATA[ecbb_id != #{ecbbId,jdbcType=INTEGER}]]>
                    and <![CDATA[(abbreviation = #{abbreviation,jdbcType=INTEGER}
                    or full_name = #{fullName,jdbcType=VARCHAR})]]>
                </if>
            </if>
        </where>
        order by sort_id desc limit 1
    </select>


    <select id="getSysList" resultType="org.jeecg.modules.cable.entity.systemEcable.EcbBag">
        select
        <include refid="Base_Column_List"/>
        from ecb_bag
        <where>
            <if test="startType != null">
                and startType = #{startType,jdbcType=BIT}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
        order by sort_id asc
    </select>


    <select id="getSysCount" resultType="java.lang.Long">
        select count(*) from ecb_bag
        <where>
            <if test="startType != null">
                and startType = #{startType,jdbcType=BIT}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
    </select>


    <update id="reduceSort">
        update ecb_bag
        set sort_id = sort_id - 1
        where sort_id > #{sortId}
    </update>

</mapper>


