<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.systemEcable.EcbConductorMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.systemEcable.EcbConductor">
        <id column="ecbc_id" jdbcType="INTEGER" property="ecbcId"/>
        <result column="eca_id" jdbcType="INTEGER" property="ecaId"/>
        <result column="eca_name" jdbcType="VARCHAR" property="ecaName"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="conductor_type" jdbcType="INTEGER" property="conductorType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="density" jdbcType="DECIMAL" property="density"/>
        <result column="resistivity" jdbcType="DECIMAL" property="resistivity"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.systemEcable.EcbConductor">
        <id column="ecbc_id" jdbcType="INTEGER" property="ecbcId"/>
        <result column="eca_id" jdbcType="INTEGER" property="ecaId"/>
        <result column="eca_name" jdbcType="VARCHAR" property="ecaName"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="conductor_type" jdbcType="INTEGER" property="conductorType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="density" jdbcType="DECIMAL" property="density"/>
        <result column="resistivity" jdbcType="DECIMAL" property="resistivity"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <association property="ecbuConductor" javaType="org.jeecg.modules.cable.entity.userEcable.EcbuConductor">
            <result column="ecbuc_id" property="ecbucId"/>
            <result column="u_start_type" property="startType"/>
            <result column="name" property="name"/>
            <result column="u_unit_price" property="unitPrice"/>
            <result column="u_density" property="density"/>
            <result column="u_resistivity" property="resistivity"/>
            <result column="u_description" property="description"/>
        </association>
    </resultMap>


    <!-- With_List -->
    <sql id="With_List">
        ecbc
        .
        ecbc_id
        , ecbc.eca_id, ecbc.eca_name, ecbc.start_type, ecbc.sort_id, ecbc.abbreviation,
    ecbc.unit_price, ecbc.density, ecbc.resistivity,
    ecbc.full_name, ecbc.add_time, ecbc.update_time,
    ecbuc.ecbuc_id,
   	ecbuc.unit_price as u_unit_price, ecbuc.density as u_density, ecbuc.resistivity as u_resistivity,
   	ecbuc.name, ecbuc.description as u_description, ecbuc.start_type as u_start_type
    </sql>
    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbConductor"
            resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecb_conductor as ecbc
        left join ecbu_conductor as ecbuc on ecbc.ecbc_id=ecbuc.ecbc_id and ecbuc.ec_company_id=#{ecCompanyId}
        <where>
            <if test="startType!=null">
                and ecbuc.start_type=#{startType}
            </if>
            and ecbc.start_type=true
        </where>
        order by ecbc.sort_id asc
    </select>

    <!-- getListStart -->
    <select id="getListStart" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbConductor"
            resultMap="UnionResultMap">
        select * from ecb_conductor
        <where>
            <if test="startType!=null">
                and start_type=#{startType}
            </if>
        </where>
    </select>

    <!--getCount-->
    <select id="getCount" resultType="java.lang.Long">
        select count(*) from ecb_conductor
        <where>
            and start_type=true
        </where>
    </select>

    <!--getObject-->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbConductor"
            resultMap="BaseResultMap">
        select
        *
        from ecb_conductor
        <where>
            <if test="ecbcId != null">
                and ecbc_id = #{ecbcId,jdbcType=INTEGER}
            </if>
        </where>
        limit 1
    </select>


    <select id="getSysObject" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbConductor"
            resultMap="BaseResultMap">
        select
        *
        from ecb_conductor
        <where>
            <if test="ecbcId != null and abbreviation == null and fullName == null">
                and ecbc_id = #{ecbcId,jdbcType=INTEGER}
            </if>
            <if test="abbreviation != null">
                and abbreviation = #{abbreviation,jdbcType=VARCHAR}
            </if>
            <if test="abbreviation != null and fullName != null">
                <if test="ecbcId == null">
                    and <![CDATA[(abbreviation = #{abbreviation,jdbcType=INTEGER}
                    or full_name = #{fullName,jdbcType=VARCHAR})]]>
                </if>
                <if test="ecbcId != null">
                    and <![CDATA[ecbc_id != #{ecbcId,jdbcType=INTEGER}]]>
                    and <![CDATA[(abbreviation = #{abbreviation,jdbcType=INTEGER}
                    or full_name = #{fullName,jdbcType=VARCHAR})]]>
                </if>
            </if>
        </where>
        order by sort_id desc limit 1
    </select>

    <select id="getSysList" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbConductor"
            resultMap="BaseResultMap">
        select
        *
        from ecb_conductor
        <where>
            <if test="startType != null">
                and start_type = #{startType,jdbcType=BIT}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
        order by sort_id asc
    </select>

    <select id="getSyCount" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbConductor"
            resultType="java.lang.Long">
        select count(*) from ecb_conductor
        <where>
            <if test="startType != null">
                and start_type = #{startType,jdbcType=BIT}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
    </select>

</mapper>


