<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.systemEcable.EcbMaterialTypeMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.systemEcable.EcbMaterialType">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="eca_id" jdbcType="INTEGER" property="ecaId"/>
        <result column="eca_name" jdbcType="VARCHAR" property="ecaName"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="material_type" jdbcType="INTEGER" property="materialType"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbMaterialType"
            resultMap="BaseResultMap">
        select
        *
        from ecb_material_type as ecbb
        <where>
            <if test="startType!=null">
                AND ecbb.start_type=#{startType}
            </if>
        </where>
        order by ecbb.sort_id asc
    </select>

    <!--getCount-->
    <select id="getCount" resultType="java.lang.Long">
        select count(*) from ecb_material_type
        <where>
            AND start_type=true
        </where>
    </select>


    <!-- getListStart -->
    <select id="getListStart" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbMaterialType"
            resultMap="BaseResultMap">
        select
        *
        from ecb_material_type
        <where>
            <if test="startType!=null">
                and start_type=#{startType}
            </if>
        </where>
    </select>

    <select id="getSysObject" resultType="org.jeecg.modules.cable.entity.systemEcable.EcbMaterialType">
        select
        *
        from ecb_material_type
        <where>
            <if test="id != null  and fullName == null">
                and ecbb_id = #{ecbbId,jdbcType=INTEGER}
            </if>
        </where>
        order by sort_id desc limit 1
    </select>


    <select id="getSysList" resultType="org.jeecg.modules.cable.entity.systemEcable.EcbMaterialType">
        select
        *
        from ecb_material_type
        <where>
            <if test="startType != null">
                and start_type = #{startType,jdbcType=BIT}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
        order by sort_id asc
    </select>


    <select id="getSysCount" resultType="java.lang.Long">
        select count(*) from ecb_material_type
        <where>
            <if test="startType != null">
                and start_type = #{startType,jdbcType=BIT}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
    </select>


    <update id="reduceSort">
        update ecb_material_type
        set sort_id = sort_id - 1
        where sort_id > #{sortId}
    </update>

</mapper>


