<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.systemEcable.EcbSheathMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.systemEcable.EcbSheath">
        <id column="ecbs_id" jdbcType="INTEGER" property="ecbsId"/>
        <result column="eca_id" jdbcType="INTEGER" property="ecaId"/>
        <result column="eca_name" jdbcType="VARCHAR" property="ecaName"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="density" jdbcType="DECIMAL" property="density"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="add_time" jdbcType="BIGINT" property="addTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>

    <resultMap id="UnionResultMap" type="org.jeecg.modules.cable.entity.systemEcable.EcbSheath">
        <id column="ecbs_id" jdbcType="INTEGER" property="ecbsId"/>
        <result column="eca_id" jdbcType="INTEGER" property="ecaId"/>
        <result column="eca_name" jdbcType="VARCHAR" property="ecaName"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="unit_price" jdbcType="DECIMAL" property="unitPrice"/>
        <result column="density" jdbcType="DECIMAL" property="density"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="add_time" jdbcType="BIGINT" property="addTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <association property="ecbuSheath" javaType="org.jeecg.modules.cable.entity.userEcable.EcbuSheath">
            <result column="ecbus_id" property="ecbusId"/>
            <result column="u_start_type" property="startType"/>
            <result column="name" property="name"/>
            <result column="u_unit_price" property="unitPrice"/>
            <result column="u_density" property="density"/>
            <result column="u_description" property="description"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        ecbs_id
        , eca_id, eca_name, start_type, sort_id, abbreviation, full_name, unit_price,
    density, description, add_time, update_time
    </sql>

    <!-- With_List -->
    <sql id="With_List">
        ecbs
        .
        ecbs_id
        , ecbs.eca_id, ecbs.eca_name, ecbs.start_type, ecbs.sort_id, ecbs.abbreviation,
  	ecbs.full_name, ecbs.unit_price,
    ecbs.density, ecbs.description, ecbs.add_time, ecbs.update_time,
    ecbus.ecbus_id,
   	ecbus.unit_price as u_unit_price, ecbus.density as u_density,
   	ecbus.name, ecbus.description as u_description, ecbus.start_type as u_start_type
    </sql>
    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbSheath"
            resultMap="UnionResultMap">
        select
        <include refid="With_List"/>
        from ecb_sheath as ecbs
        left join ecbu_sheath as ecbus on ecbs.ecbs_id=ecbus.ecbs_id and ecbus.ec_company_id=#{ecCompanyId}
        <where>
            <if test="startType!=null">
                AND ecbus.start_type=#{startType}
            </if>
            AND ecbs.start_type=true
        </where>
        order by ecbs.sort_id asc
    </select>

    <!--getCount-->
    <select id="getCount" resultType="java.lang.Long">
        select count(*) from ecb_sheath
        <where>
            AND start_type=true
        </where>
    </select>

    <!-- getListStart -->
    <select id="getListStart" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbSheath"
            resultMap="UnionResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecb_sheath
        <where>
            <if test="startType!=null">
                and start_type=#{startType}
            </if>
        </where>
    </select>

    <!--getObject-->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbSheath"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecb_sheath
        <where>
            <if test="ecbsId != null">
                and ecbs_id = #{ecbsId,jdbcType=INTEGER}
            </if>
            <if test="abbreviation != null">
                and abbreviation = #{abbreviation,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <!--getObject-->
    <select id="getSysObject" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbSheath"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecb_sheath
        <where>
            <if test="ecbsId != null and abbreviation == null and fullName == null">
                and ecbs_id = #{ecbsId,jdbcType=INTEGER}
            </if>
            <if test="abbreviation != null">
                and abbreviation = #{abbreviation,jdbcType=VARCHAR}
            </if>
            <if test=" abbreviation != null and fullName != null">
                <if test="ecbsId == null">
                    and <![CDATA[(abbreviation = #{abbreviation,jdbcType=INTEGER}
                    or full_name = #{fullName,jdbcType=VARCHAR})]]>
                </if>
                <if test="ecbsId != null">
                    and <![CDATA[ecbs_id != #{ecbsId,jdbcType=INTEGER}]]>
                    and <![CDATA[(abbreviation = #{abbreviation,jdbcType=INTEGER}
                    or full_name = #{fullName,jdbcType=VARCHAR})]]>
                </if>
            </if>
        </where>
        order by sort_id desc limit 1
    </select>

    <select id="getSysList" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbSheath"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecb_sheath
        <where>
            <if test="startType != null">
                and start_type = #{startType,jdbcType=BIT}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
        order by sort_id asc
    </select>

    <select id="getSysCount" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcbSheath"
            resultType="java.lang.Long">
        select count(*) from ecb_sheath
        <where>
            <if test="startType != null">
                and start_type = #{startType,jdbcType=BIT}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
    </select>

</mapper>


