<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.systemEcable.EcSilkMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.systemEcable.EcSilk">
        <id column="ecs_id" jdbcType="INTEGER" property="ecsId"/>
        <result column="eca_id" jdbcType="INTEGER" property="ecaId"/>
        <result column="eca_name" jdbcType="VARCHAR" property="ecaName"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName"/>
        <result column="material" jdbcType="VARCHAR" property="material"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcSilk" resultMap="BaseResultMap">
        select
        *
        from ec_silk
        <where>
            <if test="abbreviation != null">
                and abbreviation = #{abbreviation,jdbcType=VARCHAR}
            </if>
            <if test="startType!=null">
                AND start_type=#{startType}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
        order by sort_id asc
    </select>

    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcSilk"
            resultMap="BaseResultMap">
        select
        *
        from ec_silk
        <where>
            <if test="ecsId != null">
                and ecs_id = #{ecsId,jdbcType=INTEGER}
            </if>
            <if test="abbreviation != null">
                and abbreviation = #{abbreviation,jdbcType=VARCHAR}
            </if>
        </where>
        order by sort_id asc limit 1
    </select>

    <select id="select" parameterType="org.jeecg.modules.cable.entity.systemEcable.EcSilk" resultMap="BaseResultMap">
        select * from ec_silk
        <where>
            <if test="ecSilk.ecsId != null">
                and ecs_id = #{ecSilk.ecsId,jdbcType=INTEGER}
            </if>
            <if test="ecSilk.abbreviation != null and ecSilk.abbreviation != ''">
                and abbreviation = #{ecSilk.abbreviation,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>


