<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.efficiency.EcdPccMapper">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.efficiency.EcdPcc">
        <id column="ecdp_id" jdbcType="INTEGER" property="ecdpId"/>
        <result column="type_id" jdbcType="INTEGER" property="typeId"/>
        <result column="txt_url" jdbcType="VARCHAR" property="txtUrl"/>
        <result column="effect_time" jdbcType="BIGINT" property="effectTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        ecdp_id
        , type_id, txt_url, effect_time
    </sql>

    <!-- getObject -->
    <select id="getObject" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecd_pcc
        <where>
            <if test="typeId!=null">
                and type_id = #{typeId,jdbcType=INTEGER}
            </if>
        </where>
        limit 1
    </select>

    <!--insert-->
    <insert id="insert" parameterType="org.jeecg.modules.cable.entity.efficiency.EcdPcc">
        insert into ecd_pcc (ecdp_id, type_id, txt_url, effect_time)
        values (#{ecdpId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{txtUrl,jdbcType=VARCHAR},
                #{effectTime,jdbcType=BIGINT})
    </insert>

    <!--delete-->
    <delete id="delete" parameterType="org.jeecg.modules.cable.entity.efficiency.EcdPcc">
        delete from ecd_pcc
        <where>
            <if test="typeId != null">
                and type_id = #{typeId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>


</mapper>


