<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jeecg.modules.cable.mapper.dao.systemDelivery.EcbDeliveryDao">

    <!--column-->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.cable.entity.systemDelivery.EcbDelivery">
        <id column="ecbd_id" jdbcType="INTEGER" property="ecbdId"/>
        <result column="start_type" jdbcType="BIT" property="startType"/>
        <result column="sort_id" jdbcType="INTEGER" property="sortId"/>
        <result column="delivery_type" jdbcType="INTEGER" property="deliveryType"/>
        <result column="delivery_name" jdbcType="VARCHAR" property="deliveryName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <sql id="Base_Column_List">
        ecbd_id
        , start_type, sort_id, delivery_type, delivery_name, description
    </sql>

    <!-- getList -->
    <select id="getList" parameterType="org.jeecg.modules.cable.entity.systemDelivery.EcbDelivery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecb_delivery as ecbd
        <where>
            <if test="startType!=null">
                and start_type=#{startType}
            </if>
            <if test="sortId != null">
                and <![CDATA[sort_id > #{sortId,jdbcType=INTEGER}]]>
            </if>
        </where>
    </select>

    <!--getCount-->
    <select id="getCount" parameterType="org.jeecg.modules.cable.entity.systemDelivery.EcbDelivery" resultType="java.lang.Long">
        select count(*) from ecb_delivery
        <where>
            <if test="startType!=null">
                AND start_type=#{startType}
            </if>
        </where>
    </select>

    <!-- getObject -->
    <select id="getObject" parameterType="org.jeecg.modules.cable.entity.systemDelivery.EcbDelivery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ecb_delivery
        <where>
            <if test="ecbdId != null and deliveryName == null">
                and ecbd_id = #{ecbdId,jdbcType=INTEGER}
            </if>
            <if test="ecbdId != null and ecbdId != null and deliveryName != null">
                <![CDATA[and ecbd_id != #{ecbdId,jdbcType=INTEGER}]]>
            </if>
            <if test="deliveryName != null">
                and delivery_name = #{deliveryName,jdbcType=VARCHAR}
            </if>
        </where>
        order by sort_id desc limit 1
    </select>

    <!--insert-->
    <insert id="insert" parameterType="org.jeecg.modules.cable.entity.systemDelivery.EcbDelivery">
        insert into ecb_delivery (ecbd_id,
                                  start_type, sort_id, delivery_type,
                                  delivery_name, description)
        values (#{ecbdId,jdbcType=INTEGER},
                #{startType,jdbcType=BIT}, #{sortId,jdbcType=INTEGER}, #{deliveryType,jdbcType=INTEGER},
                #{deliveryName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
    </insert>

    <!-- delete -->
    <delete id="delete" parameterType="org.jeecg.modules.cable.entity.systemDelivery.EcbDelivery">
        delete
        from ecb_delivery
        <where>
            <if test="ecbdId != null">
                and ecbd_id = #{ecbdId,jdbcType=INTEGER}
            </if>
        </where>
    </delete>

    <update id="update" parameterType="org.jeecg.modules.cable.entity.systemDelivery.EcbDelivery">
        update ecb_delivery
        <set>
            <if test="startType != null">
                start_type = #{startType,jdbcType=BIT},
            </if>
            <if test="sortId != null">
                sort_id = #{sortId,jdbcType=INTEGER},
            </if>
            <if test="deliveryType != null">
                delivery_type = #{deliveryType,jdbcType=INTEGER},
            </if>
            <if test="deliveryName != null">
                delivery_name = #{deliveryName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="ecbdId != null">
                and ecbd_id = #{ecbdId,jdbcType=INTEGER}
            </if>
        </where>
    </update>


</mapper>


